In [1]:
import pandas as pd
import sqlite3
from Levenshtein import distance
from fuzzywuzzy import fuzz
import random

In [10]:
# combining all sql tables into one df

# Connect to source databases
conn_db1 = sqlite3.connect('temp/words.db')
conn_db2 = sqlite3.connect('temp/lessons.db')
conn_db3 = sqlite3.connect('temp/verbs.db')
conn_db4 = sqlite3.connect('temp/exams.db')
conn_db5 = sqlite3.connect('temp/dehet.db')

cursor_db1 = conn_db1.cursor()
cursor_db2 = conn_db2.cursor()
cursor_db3 = conn_db3.cursor()
cursor_db4 = conn_db4.cursor()
cursor_db5 = conn_db5.cursor()

# Fetch data from source tables
data_db1 = cursor_db1.execute('SELECT * FROM words').fetchall()
data_db2 = cursor_db2.execute('SELECT * FROM lessons').fetchall()
data_db3 = cursor_db3.execute('SELECT * FROM verbs').fetchall()
data_db4 = cursor_db4.execute('SELECT * FROM exams').fetchall()
data_db5 = cursor_db5.execute('SELECT * FROM dehet').fetchall()

# Fetch column information from table1 in source database
cursor_db1.execute("PRAGMA table_info(words)")
columns_db1 = cursor_db1.fetchall()
cursor_db2.execute("PRAGMA table_info(lessons)")
columns_db2 = cursor_db2.fetchall()
cursor_db3.execute("PRAGMA table_info(verbs)")
columns_db3 = cursor_db3.fetchall()
cursor_db4.execute("PRAGMA table_info(exams)")
columns_db4 = cursor_db4.fetchall()
cursor_db5.execute("PRAGMA table_info(dehet)")
columns_db5 = cursor_db5.fetchall()

columns_db_list = [columns_db1, columns_db2, columns_db3, columns_db4, columns_db5]

# Close source database connections
conn_db1.close()
conn_db2.close()
conn_db3.close()
conn_db4.close()
conn_db5.close()

# Connect to destination database
conn_destination = sqlite3.connect('temp/dutch.db')
cursor_destination = conn_destination.cursor()

# Define and create destination tables based on source schemas
def create_destination_table(cursor, source_columns, destination_table_name):
    column_definitions = []
    for column in source_columns:
        column_name = column[1]
        data_type = column[2]
        column_definition = f"{column_name} {data_type}"
        column_definitions.append(column_definition)
    
    create_table_sql = f'''
        CREATE TABLE IF NOT EXISTS {destination_table_name} (
            {", ".join(column_definitions)}
        )
    '''
    cursor.execute(create_table_sql)

# Define destination table names
destination_table_names = ['words', 'lessons', 'verbs', 'exams', 'dehet']

# Create destination tables
create_destination_table(cursor_destination, columns_db1, destination_table_names[0])
create_destination_table(cursor_destination, columns_db2, destination_table_names[1])
create_destination_table(cursor_destination, columns_db3, destination_table_names[2])
create_destination_table(cursor_destination, columns_db4, destination_table_names[3])
create_destination_table(cursor_destination, columns_db5, destination_table_names[4])

# Insert data into destination tables
data_list = [data_db1, data_db2, data_db3, data_db4, data_db5]

# Insert data into destination tables
for i, data in enumerate(data_list):
    destination_table_name = destination_table_names[i]
    column_count = len(columns_db_list[i])
    placeholders = ", ".join(["?" for _ in range(column_count)])
    insert_sql = f"INSERT INTO {destination_table_name} VALUES ({placeholders})"
    cursor_destination.executemany(insert_sql, data)

# Commit changes and close destination database connection
conn_destination.commit()
conn_destination.close()

In [8]:
def bottom_not_repeated():
    dif = 'hard'
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()

    # Prepare the SQL query
    sql = f"""
    SELECT r AS Lesson, time AS Time, points AS Points
    FROM (
        SELECT r, time, points
        FROM (
            SELECT r, time, points, 
            ROW_NUMBER() OVER(PARTITION BY r ORDER BY points DESC) rn
            FROM lessons
            WHERE level = '{dif}' -- Additional condition
        )
        WHERE rn = 1
        ORDER BY points ASC
        LIMIT 100
    )
    """


    # Execute the SQL query
    cursor.execute(sql)

    # Fetch all the rows
    data = cursor.fetchall()

    # Close the connection
    conn.close()

    # Convert the data into the required format
    data = [('Lesson ' + str(lesson), time, pts) for lesson, time, pts in data]
    column_names = ['Lesson', 'Time', 'Pts']

    return data, column_names

In [16]:
def xxxxx():
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()

    # Prepare the SQL query
    sql = sql = """
    SELECT r AS Lesson
        FROM lessons
        GROUP BY r
        HAVING COUNT(DISTINCT level) != 1
    """
    
    # Execute the SQL query
    cursor.execute(sql)

    # Fetch all the rows
    data = cursor.fetchall()

    # Close the connection
    conn.close()

    return data

In [ ]:
def place(t=0, cond=0):

    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()

    # Get the known value of the last row
    cursor.execute("SELECT known, level FROM lessons ORDER BY rowid DESC LIMIT 1")
    
    result = cursor.fetchone()
    if result is not None:
        rep = result[0]
        dif = result[1]

    # Prepare the base SQL query
    if rep != 25:
        sql = f"SELECT * FROM lessons WHERE known != 25 AND level == '{dif}'"
    else:
        sql = f"SELECT * FROM lessons WHERE known == 25 AND level == '{dif}'"

    # Execute the SQL query
    cursor.execute(sql)

    # Fetch all the rows
    data = cursor.fetchall()

    last_lesson = data[-1][-2]

    # Sort the data by points in descending order and enumerate to assign places
    data.sort(key=lambda row: row[5], reverse=True)
    data = [(index + 1, row[9], row[7], row[5]) for index, row in enumerate(data)]

    # Find the place of the last row
    last_row = next((row for row in data if row[1] == last_lesson), None)
    last_place = last_row[0]

    # Get the best lessons and ensure the last lesson is included if not already in the top 10
    best_lessons = data[:10]
    if last_place > 10:
        best_lessons.append(last_row)

    # Format the data for output
    best_lessons = [('Lesson ' + str(row[1]), row[2], row[3], row[0]) for row in best_lessons]
    columns_names = ['Lesson', 'Time', 'Points', 'Place']

    # Close the connection
    conn.close()

    return best_lessons, columns_names, dif

place()

In [3]:
# connect to the SQLite database and read the data into a pandas dataframe
conn = sqlite3.connect('utils/lessons.db')
df = pd.read_sql('SELECT * FROM lessons', conn)

# close the database connection
conn.close()

In [4]:
firsts = df[df['known'] != 25]
firsts = firsts.loc[:, ['points', 'time', 'r', 'level']]

In [5]:
easy = firsts[firsts['level'] == 'easy'].sort_values('points')
standard = firsts[firsts['level'] == 'standard'].sort_values('points')
hard = firsts[firsts['level'] == 'hard'].sort_values('points')
veryhard = firsts[firsts['level'] == 'very hard'].sort_values('points')

In [7]:
writer = pd.ExcelWriter('utils/easy.xlsx')
easy.to_excel(writer, sheet_name='easy')
standard.to_excel(writer, sheet_name='standard')
hard.to_excel(writer, sheet_name='hard')
veryhard.to_excel(writer, sheet_name='veryhard')
writer.close()

In [ ]:
df = df.drop(columns=['difficulty', 'wd'])

In [372]:
columns = list(df.columns)

df['Length_word'] = df['word'].str.len()
df['translation'] = df['translation'].str.split(',').str[0]
df['Length_translation'] = df['translation'].str.len()
# Calculate Levenshtein Distance between word and translation
df['Similarity'] = df.apply(lambda row: fuzz.ratio(row['word'], row['translation']), axis=1)
    
# dividing into quantiles
df['d1'] = pd.qcut(df['Length_word'], q=4, labels=[0, 1, 2, 3])
df['d1'] = df['d1'].astype(int)
df['d2'] = pd.qcut(df['Length_translation'], q=3, labels=[0, 1, 2])
df['d2'] = df['d2'].astype(int)
df['d3'] = pd.qcut(df['Similarity'], q=5, labels=[4, 3, 2, 1, 0])
df['d3'] = df['d3'].astype(int)
df['d4'] = pd.cut(df['weight'], bins=3, labels=[1, 2, 3])
df['d4'] = df['d4'].astype(int)

df['difficulty'] = df['d1'] + df['d2'] + df['d3']
df['wd'] = df['d1'] + df['d2'] + df['d3'] + df['d4']

columns = columns + ['difficulty', 'wd']

df = df.loc[:, columns]

In [374]:
def xlstosql(df):
    df_name = df.name
    # connect to the SQLite database
    conn = sqlite3.connect(f'data_files/spanish/{df_name}.db')
    # insert the data from the dataframe into the database table
    df.to_sql(f'{df_name}', conn, if_exists='replace', index=False)
    # close the database connection
    conn.close()

In [375]:
df.name = 'words'
xlstosql(df)

In [213]:
dif_df = df.loc[:, ['word_index', 'difficulty']]

In [366]:
conn = sqlite3.connect('data_files/spanish/words.db')
cursor = conn.cursor()

cursor.execute("ALTER TABLE words ADD COLUMN word_index INTEGER")

cursor.execute("SELECT rowid FROM words")
rows = cursor.fetchall()

for i, row in enumerate(rows, start=1):
    cursor.execute("UPDATE words SET word_index = ? WHERE rowid = ?", (i, row[0]))
conn.commit()

# Сохранение изменений и закрытие соединения
conn.close()

In [237]:
def difficulty(df, level='standard'):
    
    columns = list(df.columns)
    
    df['Length_word'] = df['word'].str.len()
    df['translation'] = df['translation'].str.split(',').str[0]
    df['Length_translation'] = df['translation'].str.len()
    # Calculate Levenshtein Distance between word and translation
    df['Similarity'] = df.apply(lambda row: fuzz.ratio(row['word'], row['translation']), axis=1)
    
    # dividing into quantiles
    df['d1'] = pd.qcut(df['Length_word'], q=4, labels=[0, 1, 2, 3])
    df['d1'] = df['d1'].astype(int)
    df['d2'] = pd.qcut(df['Length_translation'], q=3, labels=[0, 1, 2])
    df['d2'] = df['d2'].astype(int)
    df['d3'] = pd.qcut(df['Similarity'], q=5, labels=[4, 3, 2, 1, 0])
    df['d3'] = df['d3'].astype(int)
    df['d4'] = pd.qcut(df['weight'], bins=3, labels=[1, 2, 3], duplicates='drop')
    df['d4'] = df['d4'].astype(int)
    
    df['difficulty'] = df['d1'] + df['d2'] + df['d3'] + df['d4']
    
    
    
    df = df.loc[:, columns]
    return df

In [228]:
test_list = []

for i in range(0,101):
    test_list.append(i)

In [229]:
tt=pd.DataFrame()
tt['count'] = test_list

In [230]:
tt['dif'] = pd.cut(test_list, bins=3, labels=['Easy', 'Medium', 'Hard'])

In [266]:
writer = pd.ExcelWriter('data_files/tdddt.xlsx')
df.to_excel(writer, sheet_name='update')
writer.close()

In [381]:
conn2 = sqlite3.connect('data_files/lessons.db')
lesson = pd.read_sql('SELECT * FROM lessons', conn2)
conn2.close()

In [139]:
lesson_df = lesson[lesson['known'] != 25]
lesson_df = lesson_df.loc[:, ['r', 'list_of_words', 'points']]

In [140]:
# Create a sample difficulty DataFrame
difficulty_df = df.loc[:,['word', 'difficulty']]

# Split 'list of words' column and retrieve difficulties
lesson_df['words'] = lesson_df['list_of_words'].str.split(';')
lesson_df['words'] = lesson_df['words'].apply(lambda x: [word.strip() for word in x])
lesson_df['dif'] = lesson_df['words'].apply(lambda x: sum(difficulty_df[difficulty_df['word'].isin(x)]['difficulty']))

In [141]:
# Remove the intermediate 'words' column
lesson_df.drop('words', axis=1, inplace=True)

In [142]:
writer = pd.ExcelWriter('data_files/test_check.xlsx')
lesson_df.to_excel(writer, sheet_name='update')
writer.close()

In [143]:
# Add a unique key column based on index
df['key'] = df.index

# Define the desired distribution of words by difficulty
difficulty_distribution_easy = {1: 4, 2: 4, 3: 4, 4: 4, 5: 4, 6:2, 7:1, 8:1 , 9:1, 10:0}
difficulty_distribution = {1: 2, 2: 2, 3: 3, 4: 3, 5: 3, 6: 3, 7:3, 8:2 ,9:2, 10:2 }
difficulty_distribution_hard = {1: 0, 2: 1, 3: 1, 4: 1, 5: 2, 6: 4, 7:4, 8:4 ,9:4, 10:4 }
difficulty_distribution_hardest = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 5, 7:5, 8:5 ,9:5, 10:5 }

# Sample words from each difficulty level based on difficulty and weight
selected_words = []
for difficulty, count in difficulty_distribution.items():
    words_subset = df[(df['wb'] == difficulty)]
    words_subset = words_subset.sample(n=count, weights=words_subset['weight'])
    selected_words.append(words_subset)
    
# Concatenate the selected words into a new DataFrame
new_words_df = pd.concat(selected_words)

writer = pd.ExcelWriter('data_files/new.xlsx')
new_words_df.to_excel(writer, sheet_name='update')
writer.close()

In [122]:
# Reset the index of the new DataFrame
new_words_df.reset_index(drop=True, inplace=True)

# Update the parameters of the selected words
new_words_df['weight'] = new_words_df['weight'] * 2  # Update the weight parameter as an example

# Merge the updated words with the original DataFrame based on the key column
df = pd.merge(df, new_words_df, on='key', how='left')

# Fill missing values in the original DataFrame with the updated values
df['difficulty_y'].fillna(df['difficulty_x'], inplace=True)
df['weight_y'].fillna(df['weight_x'], inplace=True)

# Drop redundant columns from the merged DataFrame
df.drop(['difficulty_x', 'weight_x', 'key'], axis=1, inplace=True)
df.rename(columns={'difficulty_y': 'difficulty', 'weight_y': 'weight'}, inplace=True)

writer = pd.ExcelWriter('data_files/final.xlsx')
df.to_excel(writer, sheet_name='update')
writer.close()

In [ ]:
', '.join(list(df.columns))

In [ ]:
difficulty_distribution = {1: 1, 2: 1, 3: 2, 4: 2, 5: 3, 6: 3, 7: 3, 8: 3, 9: 3, 10: 2, 11: 1, 12: 1}

def sql_text(dffty, limit):
    text = f"""
    SELECT word, type, translation, russian, example, example_translation, appear, trial_d, trial_r, success, weight, word_index, difficulty, wd
    FROM words
    WHERE wd = {dffty}
    ORDER BY weight DESC, RANDOM()
    LIMIT {limit};
    """
    return text

def loadData(source, final='no'):
    # connect to the SQLite database and read the data into a pandas dataframe
    conn = sqlite3.connect('data_files/words.db')
    
    
    if source == 'word' and final == 'no':
        cursor = conn.cursor()
        # Sample words from each difficulty level based on difficulty and weight
        selected_words = []
        for difficulty, count in difficulty_distribution.items():
            # Retrieve 5 easy words
            words_query = sql_text(difficulty, count)
            cursor.execute(words_query)
            selected_words = selected_words + cursor.fetchall()
        return selected_words
    else:
        df = pd.read_sql(f'SELECT * FROM {source}s', conn)
        df = df.loc[:, f'{source}':]
        
    # close the database connection
    conn.close()
    

combined_data = loadData('word')

    
class Words(object):

    """The class for all words from dictionary. Each word a type, a translation, an example,
    a translation of an example, a translation to Russian, also additional parameters which would be created after
    the first run (quantity of appearances in lessons, trials of direct and indirect translation,
    success attempts, also weight, more weight - more often words appear"""

    def __init__(self, word, typ, translation, russian, example, example_translation, appear, trial_d, trial_r, success,
                 weight, word_index, difficulty, wd):
        self.word = word
        self.typ = typ
        self.translation = translation
        self.example = example
        self.example_translation = example_translation
        self.russian = russian
        self.appear = appear
        self.trial_d = trial_d
        self.trial_r = trial_r
        self.success = success
        self.weight = weight
        self.word_index = word_index
        self.difficulty = difficulty
        self.wd = wd


# Create Word objects from the combined data
word_objects = []
for row in combined_data:
    word = Words(*row)
    word_objects.append(word)

# Print the created Word objects
for word in word_objects:
    print(f"Word: {word.word}, Translation: {word.translation}, Weight: {word.weight}, Difficulty: {word.wd}")

In [ ]:
def sql_text(dffty, limit):
    text = f"""
    SELECT word, type, translation, russian, example, example_translation, appear, trial_d, trial_r, success, weight, word_index, difficulty, wd
    FROM words
    WHERE wd = {dffty}
    ORDER BY weight DESC, RANDOM()
    LIMIT {limit};
    """
    return text


# connect to the SQLite database and read the data into a pandas dataframe
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

# Retrieve 5 easy words
easy_words_query = sql_text(2, 15)
cursor.execute(easy_words_query)
easy_words = cursor.fetchall()

# Retrieve 5 standard words
standard_words_query = sql_text(6, 20)
cursor.execute(standard_words_query)
standard_words = cursor.fetchall()

# Retrieve 5 hard words
hard_words_query = sql_text(10, 5)
cursor.execute(hard_words_query)
hard_words = cursor.fetchall()

# Close the database connection
conn.close()

# Print the retrieved words

print("\nEasy Words:")
for row in easy_words:
    print(row)

print("\nStandard Words:")
for row in standard_words:
    print(row)

print("\nHard Words:")
for row in hard_words:
    print(row)

In [292]:

text = """
    SELECT weight, word_index, wd
    FROM words
    """

# connect to the SQLite database and read the data into a pandas dataframe
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

# Retrieve 5 easy words
easy_words_query = text
cursor.execute(easy_words_query)
easy_words = cursor.fetchall()

# Close the database connection
conn.close()

In [306]:
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

v1 = 100
v2 = 100
v3 = 100
v4 = 100
v5 = 100

cursor.execute("UPDATE words SET appear = ?, trial_d = ?, trial_r = ?, success = ?, wd = ?  WHERE word_index = ?",
            (v1, v2, v3, v4, v5, 1))

    # Commit the changes and close the connection
conn.commit()
conn.close()

In [311]:
text = """

UPDATE words
SET weight = 
             CASE
                WHEN trial_d = 0 AND trial_r = 0 THEN ROUND(100, 2)
                ELSE ROUND((100 - (success / (trial_d + trial_r)) * 100), 2)
             END;
"""

conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

cursor.execute(text)
conn.commit()
conn.close()

In [329]:
text = """

UPDATE words
SET weight = 
    CASE
        WHEN trial_d = 0 AND trial_r = 0 THEN ROUND(100, 2)
        ELSE ROUND((100 - success * 100 /(trial_d + trial_r)), 2)
    END;
"""

conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

cursor.execute(text)
conn.commit()
conn.close()

In [332]:
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

cursor.execute("SELECT lesson FROM lessons WHERE lesson IS NOT NULL ORDER BY lesson DESC LIMIT 1")
last_lesson = cursor.fetchone()[0]
l1 = last_lesson + 1
l2 = 0
l3 = 0
l4 = 0
l5 = 0
l6 = 0
l7 = 0
l8 = 0
l9 = 0
l10 = 0
    
cols = 'lesson, start, inter, finish, known, points, length, time, list_of_words, r'

cursor.execute(f"INSERT INTO lessons ({cols}) VALUES (?,?,?,?,?,?,?,?,?,?)", (l1,l2,l3,l4,l5,l6,l7,l8,l9,l10))

conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()
cursor.execute("SELECT DISTINCT r, list_of_words FROM lessons")
results = cursor.fetchall()

list_of_lessons = []
list_of_word_indexes = {}

for row in results:
    if row[0] != 999:
        list_of_lessons.append(row[0])
        list_of_word_indexes[row[0]] = row[1]

print(max(list_of_lessons) + 1)
print(list_of_word_indexes)

conn.close()

In [8]:
def topbottom(top=1):
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    # Prepare the basic SQL query
    sql = "SELECT r AS Lesson, time AS Time, points AS Pts FROM lessons"

    # Add conditions to the SQL query based on the top parameter
    if top != 'overall':
        sql += " WHERE known != 25"
    if top == 0:
        sql += " ORDER BY Pts ASC, Time DESC"
    elif top == 'all' or top == 'overall':
        pass
    else:
        sql += " ORDER BY Pts DESC, Time ASC LIMIT 10"

    # Execute the SQL query
    cursor.execute(sql)

    # Fetch all the rows
    data = cursor.fetchall()

    # Close the connection
    conn.close()

    # Convert the data into the required format
    data = [('Lesson ' + str(lesson), time, pts) for lesson, time, pts in data]

    return data

In [ ]:
def bottom_not_repeated():
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()

    # Prepare the SQL query
    sql = """
    SELECT r AS Lesson, time AS Time, points AS Points
    FROM (
        SELECT r, time, points
        FROM (
            SELECT r, time, points, 
            ROW_NUMBER() OVER(PARTITION BY r ORDER BY points DESC) rn
            FROM lessons
        )
        WHERE rn = 1
        ORDER BY points ASC
        LIMIT 10
    )
    """

    # Execute the SQL query
    cursor.execute(sql)
    
    # Fetch all the rows
    data = cursor.fetchall()

    # Close the connection
    conn.close()

    # Convert the data into the required format
    data = [('Lesson ' + str(lesson), time, pts) for lesson, time, pts in data]

    return data

data = bottom_not_repeated()
print(data)

In [ ]:
def place(t=0, cond=0):
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()

    # Get the known value of the last row
    cursor.execute("SELECT known FROM lessons ORDER BY rowid DESC LIMIT 1")
    rep = cursor.fetchone()[0]

    # Prepare the base SQL query
    if rep != 25:
        sql = "SELECT * FROM lessons WHERE known != 25"
    else:
        sql = "SELECT * FROM lessons WHERE known == 25"

    # Execute the SQL query
    cursor.execute(sql)

    # Fetch all the rows
    data = cursor.fetchall()
    
    last_lesson = data[-1][-2]


    # Sort the data by points in descending order and enumerate to assign places
    data.sort(key=lambda row: row[5], reverse=True)
    data = [(index + 1, row[9], row[7], row[5]) for index, row in enumerate(data)]
    

    # Find the place of the last row
    last_row = next((row for row in data if row[1] == last_lesson), None)
    last_place = last_row[0]

    # Get the best lessons and ensure the last lesson is included if not already in the top 10
    best_lessons = data[:10]
    if last_place > 10:
        best_lessons.append(last_row)

    # Format the data for output
    best_lessons = [('Lesson ' + str(row[1]), row[2], row[3], row[0]) for row in best_lessons]
    columns_names = ['Lesson', 'Time', 'Points', 'Place']

    # Close the connection
    conn.close()

    return best_lessons, columns_names


best = place()
for i in best:
    print(i)

In [ ]:
conn1 = sqlite3.connect('data_files/words.db')
cursor1 = conn1.cursor()

cursor1.execute('SELECT word_index, word FROM words')
results = cursor1.fetchall()

conn1.close()


# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("SELECT list_of_words FROM lessons")
lessons_x = cursor.fetchall()


conn.close()


for k, les in enumerate(lessons_x):
    for row in les:
        lesson_words = row.split(";")
        for i, cw in enumerate(lesson_words):
            lesson_words[i] = cw.strip()

            for res in results:
                if res[1] == lesson_words[i]:
                    lesson_words[i] = res[0]
    lessons_x[k] = lesson_words

In [390]:
# Connection to the 'words.db' database
conn1 = sqlite3.connect('data_files/words.db')
cursor1 = conn1.cursor()

cursor1.execute('SELECT word_index, word FROM words')
results = cursor1.fetchall()

conn1.close()

# Connection to the 'lessons.db' database
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Retrieve the list_of_words values from the 'lessons' table
cursor.execute("SELECT list_of_words FROM lessons")
lessons_x = cursor.fetchall()

# Process and update the values
for k, les in enumerate(lessons_x):
    for row in les:
        lesson_words = row.split(";")
        for i, cw in enumerate(lesson_words):
            lesson_words[i] = cw.strip()

            for res in results:
                if res[1] == lesson_words[i]:
                    lesson_words[i] = res[0]
        lesson_words = [str(word) for word in lesson_words if word]

    lessons_x[k] = ';'.join(lesson_words)

    # Update the 'list_of_words' column with the new value
    update_query = "UPDATE lessons SET list_of_words = ? WHERE rowid = ?"
    cursor.execute(update_query, (lessons_x[k], k + 1))
    conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

In [ ]:
# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

#cursor.execute("ALTER TABLE lessons ADD COLUMN new_col TEXT;")

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("UPDATE lessons SET ind = clmn;")

conn.close()

In [ ]:
conn1 = sqlite3.connect('data_files/words.db')
cursor1 = conn1.cursor()

cursor1.execute('SELECT word_index, word FROM words')
results = cursor1.fetchall()

conn1.close()

In [468]:

# Connect to the database
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Create a new table without the 'word' column
create_query = "CREATE TABLE new_table_name (lesson INTEGER, start TIMESTAMP, inter TIMESTAMP, finish TIMESTAMP, known INTEGER, points INTEGER, length INTEGER,time INTEGER, list_of_words TEXT, r INTEGER)"  
    

cursor.execute(create_query)

# Copy data from the old table to the new table
copy_query = "INSERT INTO new_table_name (lesson , start , inter , finish , known , points , length ,time , list_of_words , r ) SELECT lesson , start , inter , finish , known , points , length ,time , list_of_words , r  FROM lessons"
cursor.execute(copy_query)

# Drop the old table
drop_query = "DROP TABLE lessons"
cursor.execute(drop_query)

# Rename the new table to the original table name
rename_query = "ALTER TABLE new_table_name RENAME TO lessons"
cursor.execute(rename_query)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [ ]:
# Connect to the database
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Define the table name
table_name = 'lessons'

# Retrieve column information from sqlite_master table
cursor.execute(f"PRAGMA table_info({table_name})")
columns = cursor.fetchall()

print(columns)

# Iterate over the columns and print the name and datatype
for column in columns:
    column_name = column[1]
    column_datatype = column[2]
    print(f"Column: {column_name} - Datatype: {column_datatype}")

# Close the connection
conn.close()

In [ ]:
# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("SELECT r, list_of_words FROM lessons WHERE r = 1")
results = cursor.fetchall()[0]

print(results)

# Создание списка для хранения результирующих строк
result_list = []

# Разбивка значений и выполнение запросов для каждого числа
r, list_of_words = results
number_list = list_of_words.split(';')
for number in number_list:
    word_index = int(number)
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()
    cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
    word_result = cursor2.fetchone()
    if word_result is not None:
        result_list.append(word_result)

# Вывод результатов
for row in result_list:
    print(row)

# Закрытие соединения с базой данных
conn.close()
conn2.close()

len(result_list)

In [419]:
def get_lesson_words(lesson_number):
    # Соединение с базой данных SQLite3
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()

    # Выполнение запроса SELECT для получения уникальных значений из столбца
    cursor.execute(f"SELECT r, list_of_words FROM lessons WHERE r = {lesson_number}")
    results = cursor.fetchall()[0]

    # Создание списка для хранения результирующих строк
    result_list = []

    # Разбивка значений и выполнение запросов для каждого числа
    r, list_of_words = results
    number_list = list_of_words.split(';')
    for number in number_list:
        word_index = int(number)
        cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
        word_result = cursor2.fetchone()
        if word_result is not None:
            result_list.append(word_result)

    # Закрытие соединения с базой данных
    conn.close()
    conn2.close()
    
    return result_list

In [418]:
# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("SELECT DISTINCT r FROM lessons")
results = cursor.fetchall()

unique_values = []

# Вывод уникальных значений в консоль
for row in results:
    unique_values.append(row[0])

unique_values.remove(999)

# Закрытие соединения с базой данных
conn.close()

for l in unique_values:
    result_list = check_all_data(l)
    if len(result_list) != 25:
        print(result_list)

In [ ]:
def get_lesson_words(lesson_number):

    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    
    cursor.execute(f"SELECT list_of_words FROM lessons")
    results = cursor.fetchall()
    
    
    
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()

    # Создание списка для хранения результирующих строк
    result_list = []

    # Разбивка значений и выполнение запросов для каждого числа
    r, list_of_words = results
    number_list = list_of_words.split(';')
    for number in number_list:
        word_index = int(number)
        cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
        word_result = cursor2.fetchone()
        if word_result is not None:
            result_list.append(word_result)

    # Закрытие соединения с базой данных
    conn.close()
    conn2.close()
    
    return result_list

In [430]:
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()
cursor.execute(f"SELECT list_of_words FROM lessons")
results = cursor.fetchall()

In [432]:
full_list = []

for list_of_words in results:
    list_of_words = list_of_words[0]
    number_list = list_of_words.split(';')
    for number in number_list:
        number = int(number)
        full_list.append(number)       
full_list = list(set(full_list))

In [ ]:
def get_lesson_words(lesson_number):
    # Соединение с базой данных SQLite3
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()

    # Выполнение запроса SELECT для получения уникальных значений из столбца
    cursor.execute(f"SELECT r, list_of_words FROM lessons WHERE r = {lesson_number}")
    results = cursor.fetchall()[0]

    # Создание списка для хранения результирующих строк
    result_list = []

    # Разбивка значений и выполнение запросов для каждого числа
    r, list_of_words = results
    number_list = list_of_words.split(';')
    for number in number_list:
        word_index = int(number)
        cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
        word_result = cursor2.fetchone()
        if word_result is not None:
            result_list.append(word_result)

    # Закрытие соединения с базой данных
    conn.close()
    conn2.close()
    
    return result_list

In [ ]:
def get_lesson_dif(lesson_number):

    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()
    cursor.execute(f"SELECT r, list_of_words FROM lessons WHERE r = {lesson_number}")
    results = cursor.fetchall()[0]
    total_dif = 0
    result_list = []

    r, list_of_words = results
    number_list = list_of_words.split(';')
    for number in number_list:
        word_index = int(number)
        cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
        word_result = cursor2.fetchone()
        if word_result is not None:
            result_list.append(word_result)

    # Закрытие соединения с базой данных
    conn.close()
    conn2.close()
    
    for word in result_list:
        print(word)
        total_dif = total_dif + word[-1]
        
    
    return total_dif

get_lesson_dif(8)

In [ ]:
def add_total_dif_column():
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()

    # Add the 'total_dif' column to the 'lessons' table
    cursor.execute("ALTER TABLE lessons ADD COLUMN level INTEGER")

    # Commit the changes to the database
    conn.commit()

    # Close the connection
    conn.close()

def get_lesson_dif(lesson_number):
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()
    cursor.execute(f"SELECT lesson, list_of_words FROM lessons WHERE lesson = {lesson_number}")
    results = cursor.fetchall()[0]
    total_dif = 0
    result_list = []

    r, list_of_words = results
    number_list = list_of_words.split(';')
    for number in number_list:
        word_index = int(number)
        cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
        word_result = cursor2.fetchone()
        if word_result is not None:
            result_list.append(word_result)

    for word in result_list:
        total_dif += word[-1]
    
    # Update the 'level' column in the 'lessons' table
    cursor.execute("UPDATE lessons SET level = ? WHERE lesson = ?", (total_dif, lesson_number))

    # Commit the changes to the database
    conn.commit()

    # Close the connections
    conn.close()
    conn2.close()
    
    return total_dif

# Call this function to add the 'total_dif' column to the 'lessons' table
add_total_dif_column()

for les in list_of_lessons:
    total_dif = get_lesson_dif(les)
    print(les, total_dif)

In [66]:
def add_total_dif_column():
    conn = sqlite3.connect('data_files/spanish/lessons.db')
    cursor = conn.cursor()

    # Add the 'total_dif' column to the 'lessons' table
    cursor.execute("ALTER TABLE lessons ADD COLUMN level TEXT")

    # Commit the changes to the database
    conn.commit()

    # Close the connection
    conn.close()

# Call this function to add the 'total_dif' column to the 'lessons' table
add_total_dif_column()

In [464]:
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()
cursor.execute(f"SELECT lesson FROM lessons")
results = cursor.fetchall()
conn.close()

In [465]:
list_of_lessons = []
for r in results:
    list_of_lessons.append(r[0])

In [ ]:
df['d4'] = pd.qcut(df['weight'], bins=3, labels=[1, 2, 3], duplicates='drop')

In [470]:
# connect to the SQLite database and read the data into a pandas dataframe
conn = sqlite3.connect('data_files/lessons.db')
df = pd.read_sql('SELECT * FROM lessons', conn)

# close the database connection
conn.close()

In [472]:
df['bins'] = pd.cut(df['level'], bins=4, labels=['easy', 'standard', 'hard', 'very hard'])

In [474]:
dictionary = dict(zip(df['level'], df['bins']))

In [476]:
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

for key, value in dictionary.items():
    cursor.execute("UPDATE lessons SET level = ? WHERE level = ?", (value, key))

conn.commit()
conn.close()

In [478]:
writer = pd.ExcelWriter('data_files/df.xlsx')
df.to_excel(writer, sheet_name='update')
writer.close()

In [ ]:
# check special charachters in db
# Connect to the SQLite database
conn = sqlite3.connect('data_files/spanish/words.db')  # Replace 'lessons.db' with the actual database name
cursor = conn.cursor()

# Retrieve all words from the 'words' column
query = "SELECT word FROM words"  # Replace 'lessons' with your actual table name
cursor.execute(query)
rows = cursor.fetchall()

# Create a set to store unique non-Latin characters
non_latin_characters = set()

# Extract non-Latin characters from each word
for row in rows:
    word = row[0]
    for char in word:
        if not char.isalpha() or ord(char) > 127:
            non_latin_characters.add(char)

# Close the database connection
cursor.close()
conn.close()

# Convert the set of characters to a list
non_latin_characters = list(non_latin_characters)

# Print the list of non-Latin characters
print(non_latin_characters)

In [88]:
conn = sqlite3.connect('data_files/exams.db')
cursor = conn.cursor()
cursor.execute(f"SELECT MAX(prcnt) FROM exams WHERE size = {50} AND lang = '{'nl'}'")
best_result = cursor.fetchone()[0]
conn.close()

In [ ]:
# Connect to the database
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("SELECT * FROM words WHERE weight <= 50")

# Fetch all the rows
rows = cursor.fetchall()

# Extract values from the 'word_index' column and store in a list
word_index_list = [row[11] for row in rows]

print(word_index_list, len(word_index_list))

# Choose 'n' random indexes from the list
n = 25  # Replace with the desired number of random indexes
random_indexes = random.sample(range(len(word_index_list)), n)

print(random_indexes)

# Retrieve the corresponding rows using the random indexes
random_rows = [rows[index] for index in random_indexes]

# Print the random rows
for row in random_rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

In [69]:
# Connect to the database
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Execute the query to fetch column names from the table schema
query = "PRAGMA table_info (lessons)"
cursor.execute(query)

# Fetch all the rows (each row corresponds to a column in the table)
columns_info = cursor.fetchall()

# Extract column names from the fetched rows
column_names = [column_info[1] for column_info in columns_info]


# Execute the SQL query
cursor.execute("SELECT * FROM lessons")

# Fetch all the rows
data = cursor.fetchall()

# Close the database connection
conn.close()

# Convert the result to a pandas DataFrame

lessons_df = pd.DataFrame(data, columns=column_names)


conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("SELECT word_index FROM words ")
# Fetch all the rows
indexes = cursor.fetchall()


# Close the database connection
conn.close()

In [77]:
list_of_indexes = [i[0] for i in indexes]

In [87]:
# Connect to the SQLite database
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

# Execute the SQL UPDATE statement
query = """
    UPDATE words
    SET wd = 1
    WHERE wd = 0;
"""
cursor.execute(query)

# Commit the changes to the database
conn.commit()

# Close the database connection
conn.close()

In [88]:
# Connect to the database
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

# Execute the query to fetch column names from the table schema
query = "PRAGMA table_info (words)"
cursor.execute(query)

# Fetch all the rows (each row corresponds to a column in the table)
columns_info = cursor.fetchall()

# Extract column names from the fetched rows
column_names = [column_info[1] for column_info in columns_info]


# Execute the SQL query
cursor.execute("SELECT * FROM words")

# Fetch all the rows
data = cursor.fetchall()

# Close the database connection
conn.close()

# Convert the result to a pandas DataFrame

words = pd.DataFrame(data, columns=column_names)

writer = pd.ExcelWriter('data_files/words_today.xlsx')
words.to_excel(writer, sheet_name='easy')
writer.close()

In [82]:
# Initialize the 'all_list' to store the split values
all_list = []

# Loop through each row in the 'lessons' column
for lessons_str in lessons_df['list_of_words']:
    # Split the values using the ';' delimiter and add them to 'all_list'
    split_values = [int(value) for value in lessons_str.split(';')]
    all_list.extend(split_values)

In [84]:
set_all_list = set(all_list)

In [85]:
all_list = list(set_all_list)

for i in all_list:
    if i in list_of_indexes:
        pass
    else:
        print(i)

change verbs.db

In [57]:
conn = sqlite3.connect('data_files/verbs.db')
cursor = conn.cursor()

query = "SELECT * FROM verbs"
cursor.execute(query)
results = cursor.fetchall()

# Get the column names from the cursor description
column_names = [description[0] for description in cursor.description]

df = pd.DataFrame(results, columns=column_names)

# Optionally, close the database connection
conn.close()

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('data_files/verbs.db')
cursor = conn.cursor()

# Define the table name for which you want to retrieve column information
table_name = 'verbs'

# Execute the PRAGMA statement to get column information
cursor.execute(f"PRAGMA table_info({table_name})")

# Fetch all the column information
column_info = cursor.fetchall()

# Loop through the column information to get column names and data types
for column in column_info:
    column_name = column[1]  # Column name is at index 1
    data_type = column[2]    # Data type is at index 2
    print(f"Column: {column_name}, Data Type: {data_type}")

# Optionally, close the database connection
conn.close()

In [20]:
conn = sqlite3.connect('data_files/verbs.db')
cursor = conn.cursor()

cursor.execute("ALTER TABLE verbs ADD COLUMN verb_index INTEGER")

cursor.execute("SELECT rowid FROM verbs")
rows = cursor.fetchall()

for i, row in enumerate(rows, start=1):
    cursor.execute("UPDATE verbs SET verb_index = ? WHERE rowid = ?", (i, row[0]))
conn.commit()

# Сохранение изменений и закрытие соединения
conn.close()

In [31]:
necessary_columns_with_types = """verb_index INTEGER, translation TEXT, verb TEXT, past_singular TEXT, past_participle TEXT,
appear INTEGER, trial_d INTEGER, trial_r INTEGER, success INTEGER, weight REAL"""

necessary_columns = """verb_index, translation, verb, past_singular, past_participle,
appear, trial_d, trial_r, success, weight"""

# Connect to the database
conn = sqlite3.connect('data_files/verbs.db')
cursor = conn.cursor()

table_name = 'verbs'

# Create a new table without the 'word' column
create_query = f"CREATE TABLE new_table_name ({necessary_columns_with_types})"  
    
cursor.execute(create_query)

# Copy data from the old table to the new table
copy_query = f"INSERT INTO new_table_name ({necessary_columns}) SELECT {necessary_columns} FROM {table_name}"
cursor.execute(copy_query)

# Drop the old table
drop_query = f"DROP TABLE {table_name}"
cursor.execute(drop_query)

# Rename the new table to the original table name
rename_query = f"ALTER TABLE new_table_name RENAME TO {table_name}"
cursor.execute(rename_query)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [61]:
conn = sqlite3.connect('data_files/verbs.db')
cursor = conn.cursor()

sql = "SELECT * FROM verbs WHERE weight != 100.0"

# Execute the SQL query
cursor.execute(sql)

# Fetch all the rows
data = cursor.fetchall()
# Sort the data by points in descending order and enumerate to assign places
data.sort(key=lambda row: row[9], reverse=True)
data = [(row[2], row[1], row[5], row[9]) for row in data]
worst_verbs = data[:10]

columns_names = ['Verb', 'Translation', 'Appearance', 'Weight']

# Close the connection
conn.close()

Database of words contains some wrong translations from Dutch to Russian. The following code helps to clean the db

In [3]:
conn = sqlite3.connect('utils/words.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM words')
results = cursor.fetchall()

# Get the column names from the cursor description
column_names = [description[0] for description in cursor.description]

df_words = pd.DataFrame(results, columns=column_names)

conn.close()

In [6]:
chtobydf = df_words[df_words.russian.str.contains('чтобы')]

In [8]:
writer = pd.ExcelWriter('utils/chtobydf.xlsx')
chtobydf.to_excel(writer, sheet_name='update')
writer.close()

In [9]:
df_corrected = pd.read_excel('utils/chtobydf.xlsx')

In [ ]:
conn = sqlite3.connect('utils/words.db')
cursor = conn.cursor()

for index, row in df_corrected.iterrows():
    word_index = row['word_index']
    new_translation = row['translation']
    new_russian = row['russian']
    
    # Update query
    update_query = f"UPDATE words SET translation = ?, russian = ? WHERE word_index = ?"
    
    # Execute the update query with the values
    conn.execute(update_query, (new_translation, new_russian, word_index))

# Commit the changes and close the connection
conn.commit()
conn.close()

'de' and 'het' functionlaity

In [2]:
conn = sqlite3.connect('utils/words.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM words')
results = cursor.fetchall()

# Get the column names from the cursor description
column_names = [description[0] for description in cursor.description]

df_words = pd.DataFrame(results, columns=column_names)

conn.close()

In [13]:
count_contains_de = (df_words['type'].str.contains('de')).sum()
count_contains_het = (df_words['type'].str.contains('het')).sum()

In [14]:
count_contains_het

1026

In [23]:
connection = sqlite3.connect('utils/words.db')
cursor = connection.cursor()

# Execute the SQL query
query = "SELECT type, word, translation FROM words WHERE type LIKE '%de%' OR type LIKE '%het%' ORDER BY RANDOM() LIMIT 100"
cursor.execute(query)

# Fetch all the rows that match the query
matching_rows = cursor.fetchall()

# Close the connection
connection.close()

matching_rows[0][0]

'de'