In [370]:
import pandas as pd
import sqlite3
from Levenshtein import distance
from fuzzywuzzy import fuzz

# connect to the SQLite database and read the data into a pandas dataframe
conn = sqlite3.connect('data_files/spanish/words.db')
df = pd.read_sql('SELECT * FROM words', conn)

# close the database connection
conn.close()

In [371]:
df.columns

Index(['word', 'type', 'translation', 'example', 'example_translation',
       'russian', 'appear', 'trial_d', 'trial_r', 'success', 'weight',
       'word_index'],
      dtype='object')

In [ ]:
df = df.drop(columns=['difficulty', 'wd'])

In [372]:
columns = list(df.columns)

df['Length_word'] = df['word'].str.len()
df['translation'] = df['translation'].str.split(',').str[0]
df['Length_translation'] = df['translation'].str.len()
# Calculate Levenshtein Distance between word and translation
df['Similarity'] = df.apply(lambda row: fuzz.ratio(row['word'], row['translation']), axis=1)
    
# dividing into quantiles
df['d1'] = pd.qcut(df['Length_word'], q=4, labels=[0, 1, 2, 3])
df['d1'] = df['d1'].astype(int)
df['d2'] = pd.qcut(df['Length_translation'], q=3, labels=[0, 1, 2])
df['d2'] = df['d2'].astype(int)
df['d3'] = pd.qcut(df['Similarity'], q=5, labels=[4, 3, 2, 1, 0])
df['d3'] = df['d3'].astype(int)
df['d4'] = pd.cut(df['weight'], bins=3, labels=[1, 2, 3])
df['d4'] = df['d4'].astype(int)

df['difficulty'] = df['d1'] + df['d2'] + df['d3']
df['wd'] = df['d1'] + df['d2'] + df['d3'] + df['d4']

columns = columns + ['difficulty', 'wd']

df = df.loc[:, columns]

In [373]:
df['wd'].unique()

array([ 5,  6,  4,  2,  7,  8,  3,  9, 10, 11])

In [374]:
def xlstosql(df):
    df_name = df.name
    # connect to the SQLite database
    conn = sqlite3.connect(f'data_files/spanish/{df_name}.db')
    # insert the data from the dataframe into the database table
    df.to_sql(f'{df_name}', conn, if_exists='replace', index=False)
    # close the database connection
    conn.close()

In [375]:
df.name = 'words'
xlstosql(df)

In [213]:
dif_df = df.loc[:, ['word_index', 'difficulty']]

In [366]:
conn = sqlite3.connect('data_files/spanish/words.db')
cursor = conn.cursor()

cursor.execute("ALTER TABLE words ADD COLUMN word_index INTEGER")

cursor.execute("SELECT rowid FROM words")
rows = cursor.fetchall()

for i, row in enumerate(rows, start=1):
    cursor.execute("UPDATE words SET word_index = ? WHERE rowid = ?", (i, row[0]))
conn.commit()

# Сохранение изменений и закрытие соединения
conn.close()

In [237]:
def difficulty(df, level='standard'):
    
    columns = list(df.columns)
    
    df['Length_word'] = df['word'].str.len()
    df['translation'] = df['translation'].str.split(',').str[0]
    df['Length_translation'] = df['translation'].str.len()
    # Calculate Levenshtein Distance between word and translation
    df['Similarity'] = df.apply(lambda row: fuzz.ratio(row['word'], row['translation']), axis=1)
    
    # dividing into quantiles
    df['d1'] = pd.qcut(df['Length_word'], q=4, labels=[0, 1, 2, 3])
    df['d1'] = df['d1'].astype(int)
    df['d2'] = pd.qcut(df['Length_translation'], q=3, labels=[0, 1, 2])
    df['d2'] = df['d2'].astype(int)
    df['d3'] = pd.qcut(df['Similarity'], q=5, labels=[4, 3, 2, 1, 0])
    df['d3'] = df['d3'].astype(int)
    df['d4'] = pd.qcut(df['weight'], bins=3, labels=[1, 2, 3], duplicates='drop')
    df['d4'] = df['d4'].astype(int)
    
    df['difficulty'] = df['d1'] + df['d2'] + df['d3'] + df['d4']
    
    
    
    df = df.loc[:, columns]
    return df

In [198]:
# Calculate word lengths and divide into three bins
#df['Difficulty'] = pd.cut(df['Length'], bins=3, labels=['Easy', 'Medium', 'Hard'])

In [228]:
test_list = []

for i in range(0,101):
    test_list.append(i)

In [229]:
tt=pd.DataFrame()
tt['count'] = test_list

In [230]:
tt['dif'] = pd.cut(test_list, bins=3, labels=['Easy', 'Medium', 'Hard'])

In [266]:
writer = pd.ExcelWriter('data_files/tdddt.xlsx')
df.to_excel(writer, sheet_name='update')
writer.close()

In [381]:
conn2 = sqlite3.connect('data_files/lessons.db')
lesson = pd.read_sql('SELECT * FROM lessons', conn2)
conn2.close()

In [382]:
lesson.columns

Index(['lesson', 'start', 'inter', 'finish', 'known', 'points', 'length',
       'time', 'list_of_words', 'r', 'new_col'],
      dtype='object')

In [139]:
lesson_df = lesson[lesson['known'] != 25]
lesson_df = lesson_df.loc[:, ['r', 'list_of_words', 'points']]

In [140]:
# Create a sample difficulty DataFrame
difficulty_df = df.loc[:,['word', 'difficulty']]

# Split 'list of words' column and retrieve difficulties
lesson_df['words'] = lesson_df['list_of_words'].str.split(';')
lesson_df['words'] = lesson_df['words'].apply(lambda x: [word.strip() for word in x])
lesson_df['dif'] = lesson_df['words'].apply(lambda x: sum(difficulty_df[difficulty_df['word'].isin(x)]['difficulty']))

In [141]:
# Remove the intermediate 'words' column
lesson_df.drop('words', axis=1, inplace=True)

In [142]:
writer = pd.ExcelWriter('data_files/test_check.xlsx')
lesson_df.to_excel(writer, sheet_name='update')
writer.close()

In [143]:
# Add a unique key column based on index
df['key'] = df.index

# Define the desired distribution of words by difficulty
difficulty_distribution_easy = {1: 4, 2: 4, 3: 4, 4: 4, 5: 4, 6:2, 7:1, 8:1 , 9:1, 10:0}
difficulty_distribution = {1: 2, 2: 2, 3: 3, 4: 3, 5: 3, 6: 3, 7:3, 8:2 ,9:2, 10:2 }
difficulty_distribution_hard = {1: 0, 2: 1, 3: 1, 4: 1, 5: 2, 6: 4, 7:4, 8:4 ,9:4, 10:4 }
difficulty_distribution_hardest = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 5, 7:5, 8:5 ,9:5, 10:5 }

# Sample words from each difficulty level based on difficulty and weight
selected_words = []
for difficulty, count in difficulty_distribution.items():
    words_subset = df[(df['wb'] == difficulty)]
    words_subset = words_subset.sample(n=count, weights=words_subset['weight'])
    selected_words.append(words_subset)
    
# Concatenate the selected words into a new DataFrame
new_words_df = pd.concat(selected_words)

writer = pd.ExcelWriter('data_files/new.xlsx')
new_words_df.to_excel(writer, sheet_name='update')
writer.close()

In [122]:
# Reset the index of the new DataFrame
new_words_df.reset_index(drop=True, inplace=True)

# Update the parameters of the selected words
new_words_df['weight'] = new_words_df['weight'] * 2  # Update the weight parameter as an example

# Merge the updated words with the original DataFrame based on the key column
df = pd.merge(df, new_words_df, on='key', how='left')

# Fill missing values in the original DataFrame with the updated values
df['difficulty_y'].fillna(df['difficulty_x'], inplace=True)
df['weight_y'].fillna(df['weight_x'], inplace=True)

# Drop redundant columns from the merged DataFrame
df.drop(['difficulty_x', 'weight_x', 'key'], axis=1, inplace=True)
df.rename(columns={'difficulty_y': 'difficulty', 'weight_y': 'weight'}, inplace=True)

writer = pd.ExcelWriter('data_files/final.xlsx')
df.to_excel(writer, sheet_name='update')
writer.close()

In [ ]:
', '.join(list(df.columns))

In [ ]:
import sqlite3
import random

difficulty_distribution = {1: 1, 2: 1, 3: 2, 4: 2, 5: 3, 6: 3, 7: 3, 8: 3, 9: 3, 10: 2, 11: 1, 12: 1}

def sql_text(dffty, limit):
    text = f"""
    SELECT word, type, translation, russian, example, example_translation, appear, trial_d, trial_r, success, weight, word_index, difficulty, wd
    FROM words
    WHERE wd = {dffty}
    ORDER BY weight DESC, RANDOM()
    LIMIT {limit};
    """
    return text

def loadData(source, final='no'):
    # connect to the SQLite database and read the data into a pandas dataframe
    conn = sqlite3.connect('data_files/words.db')
    
    
    if source == 'word' and final == 'no':
        cursor = conn.cursor()
        # Sample words from each difficulty level based on difficulty and weight
        selected_words = []
        for difficulty, count in difficulty_distribution.items():
            # Retrieve 5 easy words
            words_query = sql_text(difficulty, count)
            cursor.execute(words_query)
            selected_words = selected_words + cursor.fetchall()
        return selected_words
    else:
        df = pd.read_sql(f'SELECT * FROM {source}s', conn)
        df = df.loc[:, f'{source}':]
        
    # close the database connection
    conn.close()
    

combined_data = loadData('word')

    
class Words(object):

    """The class for all words from dictionary. Each word a type, a translation, an example,
    a translation of an example, a translation to Russian, also additional parameters which would be created after
    the first run (quantity of appearances in lessons, trials of direct and indirect translation,
    success attempts, also weight, more weight - more often words appear"""

    def __init__(self, word, typ, translation, russian, example, example_translation, appear, trial_d, trial_r, success,
                 weight, word_index, difficulty, wd):
        self.word = word
        self.typ = typ
        self.translation = translation
        self.example = example
        self.example_translation = example_translation
        self.russian = russian
        self.appear = appear
        self.trial_d = trial_d
        self.trial_r = trial_r
        self.success = success
        self.weight = weight
        self.word_index = word_index
        self.difficulty = difficulty
        self.wd = wd


# Create Word objects from the combined data
word_objects = []
for row in combined_data:
    word = Words(*row)
    word_objects.append(word)

# Print the created Word objects
for word in word_objects:
    print(f"Word: {word.word}, Translation: {word.translation}, Weight: {word.weight}, Difficulty: {word.wd}")

In [ ]:
def sql_text(dffty, limit):
    text = f"""
    SELECT word, type, translation, russian, example, example_translation, appear, trial_d, trial_r, success, weight, word_index, difficulty, wd
    FROM words
    WHERE wd = {dffty}
    ORDER BY weight DESC, RANDOM()
    LIMIT {limit};
    """
    return text


# connect to the SQLite database and read the data into a pandas dataframe
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

# Retrieve 5 easy words
easy_words_query = sql_text(2, 15)
cursor.execute(easy_words_query)
easy_words = cursor.fetchall()

# Retrieve 5 standard words
standard_words_query = sql_text(6, 20)
cursor.execute(standard_words_query)
standard_words = cursor.fetchall()

# Retrieve 5 hard words
hard_words_query = sql_text(10, 5)
cursor.execute(hard_words_query)
hard_words = cursor.fetchall()

# Close the database connection
conn.close()

# Print the retrieved words

print("\nEasy Words:")
for row in easy_words:
    print(row)

print("\nStandard Words:")
for row in standard_words:
    print(row)

print("\nHard Words:")
for row in hard_words:
    print(row)

In [292]:

text = """
    SELECT weight, word_index, wd
    FROM words
    """

# connect to the SQLite database and read the data into a pandas dataframe
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

# Retrieve 5 easy words
easy_words_query = text
cursor.execute(easy_words_query)
easy_words = cursor.fetchall()

# Close the database connection
conn.close()

In [295]:
easy_words[1]

(0.0, 2, 3)

In [306]:
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

v1 = 100
v2 = 100
v3 = 100
v4 = 100
v5 = 100

cursor.execute("UPDATE words SET appear = ?, trial_d = ?, trial_r = ?, success = ?, wd = ?  WHERE word_index = ?",
            (v1, v2, v3, v4, v5, 1))

    # Commit the changes and close the connection
conn.commit()
conn.close()

In [311]:
text = """

UPDATE words
SET weight = 
             CASE
                WHEN trial_d = 0 AND trial_r = 0 THEN ROUND(100, 2)
                ELSE ROUND((100 - (success / (trial_d + trial_r)) * 100), 2)
             END;
"""

conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

cursor.execute(text)
conn.commit()
conn.close()

In [329]:
text = """

UPDATE words
SET weight = 
    CASE
        WHEN trial_d = 0 AND trial_r = 0 THEN ROUND(100, 2)
        ELSE ROUND((100 - success * 100 /(trial_d + trial_r)), 2)
    END;
"""

conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

cursor.execute(text)
conn.commit()
conn.close()

In [332]:
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

cursor.execute("SELECT lesson FROM lessons WHERE lesson IS NOT NULL ORDER BY lesson DESC LIMIT 1")
last_lesson = cursor.fetchone()[0]
l1 = last_lesson + 1
l2 = 0
l3 = 0
l4 = 0
l5 = 0
l6 = 0
l7 = 0
l8 = 0
l9 = 0
l10 = 0
    
cols = 'lesson, start, inter, finish, known, points, length, time, list_of_words, r'

cursor.execute(f"INSERT INTO lessons ({cols}) VALUES (?,?,?,?,?,?,?,?,?,?)", (l1,l2,l3,l4,l5,l6,l7,l8,l9,l10))

conn.commit()
conn.close()

In [ ]:
import sqlite3

# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("SELECT DISTINCT r FROM lessons")
results = cursor.fetchall()

# Вывод уникальных значений в консоль
for row in results:
    print(row[0])

# Закрытие соединения с базой данных
conn.close()

In [387]:
conn1 = sqlite3.connect('data_files/words.db')
cursor1 = conn1.cursor()

cursor1.execute('SELECT word_index, word FROM words')
results = cursor1.fetchall()

conn1.close()


# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("SELECT list_of_words FROM lessons")
lessons_x = cursor.fetchall()


conn.close()


for k, les in enumerate(lessons_x):
    for row in les:
        lesson_words = row.split(";")
        for i, cw in enumerate(lesson_words):
            lesson_words[i] = cw.strip()

            for res in results:
                if res[1] == lesson_words[i]:
                    lesson_words[i] = res[0]
    lessons_x[k] = lesson_words

25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
27
25
25
25
25
26
25
25
25
25
25
25
25
25
25
26
25
26
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
24
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
24
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25

In [390]:
import sqlite3

# Connection to the 'words.db' database
conn1 = sqlite3.connect('data_files/words.db')
cursor1 = conn1.cursor()

cursor1.execute('SELECT word_index, word FROM words')
results = cursor1.fetchall()

conn1.close()

# Connection to the 'lessons.db' database
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Retrieve the list_of_words values from the 'lessons' table
cursor.execute("SELECT list_of_words FROM lessons")
lessons_x = cursor.fetchall()

# Process and update the values
for k, les in enumerate(lessons_x):
    for row in les:
        lesson_words = row.split(";")
        for i, cw in enumerate(lesson_words):
            lesson_words[i] = cw.strip()

            for res in results:
                if res[1] == lesson_words[i]:
                    lesson_words[i] = res[0]
        lesson_words = [str(word) for word in lesson_words if word]

    lessons_x[k] = ';'.join(lesson_words)

    # Update the 'list_of_words' column with the new value
    update_query = "UPDATE lessons SET list_of_words = ? WHERE rowid = ?"
    cursor.execute(update_query, (lessons_x[k], k + 1))
    conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

In [ ]:
# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

#cursor.execute("ALTER TABLE lessons ADD COLUMN new_col TEXT;")

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("UPDATE lessons SET ind = clmn;")


conn.close()

In [ ]:
conn1 = sqlite3.connect('data_files/words.db')
cursor1 = conn1.cursor()

cursor1.execute('SELECT word_index, word FROM words')
results = cursor1.fetchall()

conn1.close()

In [385]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Create a new table without the 'word' column
create_query = "CREATE TABLE new_table_name (lesson INTEGER, start TIMESTAMP, inter TIMESTAMP, finish TIMESTAMP, known INTEGER, points INTEGER, length INTEGER,time INTEGER, list_of_words TEXT, r INTEGER)"  
    

cursor.execute(create_query)

# Copy data from the old table to the new table
copy_query = "INSERT INTO new_table_name (lesson , start , inter , finish , known , points , length ,time , list_of_words , r ) SELECT lesson , start , inter , finish , known , points , length ,time , list_of_words , r  FROM lessons"
cursor.execute(copy_query)

# Drop the old table
drop_query = "DROP TABLE lessons"
cursor.execute(drop_query)

# Rename the new table to the original table name
rename_query = "ALTER TABLE new_table_name RENAME TO lessons"
cursor.execute(rename_query)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [383]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Define the table name
table_name = 'lessons'

# Retrieve column information from sqlite_master table
cursor.execute(f"PRAGMA table_info({table_name})")
columns = cursor.fetchall()

print(columns)

# Iterate over the columns and print the name and datatype
for column in columns:
    column_name = column[1]
    column_datatype = column[2]
    print(f"Column: {column_name} - Datatype: {column_datatype}")

# Close the connection
conn.close()

[(0, 'lesson', 'INTEGER', 0, None, 0), (1, 'start', 'TIMESTAMP', 0, None, 0), (2, 'inter', 'TIMESTAMP', 0, None, 0), (3, 'finish', 'TIMESTAMP', 0, None, 0), (4, 'known', 'INTEGER', 0, None, 0), (5, 'points', 'INTEGER', 0, None, 0), (6, 'length', 'INTEGER', 0, None, 0), (7, 'time', 'INTEGER', 0, None, 0), (8, 'list_of_words', 'TEXT', 0, None, 0), (9, 'r', 'INTEGER', 0, None, 0), (10, 'new_col', 'TEXT', 0, None, 0)]
Column: lesson - Datatype: INTEGER
Column: start - Datatype: TIMESTAMP
Column: inter - Datatype: TIMESTAMP
Column: finish - Datatype: TIMESTAMP
Column: known - Datatype: INTEGER
Column: points - Datatype: INTEGER
Column: length - Datatype: INTEGER
Column: time - Datatype: INTEGER
Column: list_of_words - Datatype: TEXT
Column: r - Datatype: INTEGER
Column: new_col - Datatype: TEXT

In [405]:
import sqlite3

# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("SELECT r, list_of_words FROM lessons WHERE r = 1")
results = cursor.fetchall()[0]

print(results)

# Создание списка для хранения результирующих строк
result_list = []

# Разбивка значений и выполнение запросов для каждого числа
r, list_of_words = results
number_list = list_of_words.split(';')
for number in number_list:
    word_index = int(number)
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()
    cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
    word_result = cursor2.fetchone()
    if word_result is not None:
        result_list.append(word_result)

# Вывод результатов
for row in result_list:
    print(row)

# Закрытие соединения с базой данных
conn.close()
conn2.close()

len(result_list)

(1, '6272;3457;2993;6547;7258;1466;680;5270;2440;6551;992;4206;4997;1779;4452;4776;3885;6473;450;4491;6873;1061;4232;3837;4879')
('krapte', 'de', 'shortage', None, None, 'нехватка', 3, 3, 7, 6, 40.0, 6272, 2, 4)
('argument', 'noun, het', 'argument', 'Haar argumenten zijn ongeloofwaardig.', 'Her arguments are implausible.', 'аргумент', 2, 2, 2, 4, 0.0, 3457, 2, 3)
('jouw', 'pron', 'your', 'Jouw paraplu ligt nog hier.', 'Your umbrella is still here.', 'твой', 3, 4, 3, 6, 15.0, 2993, 1, 2)
('achterwerk', 'het', 'ass', None, None, 'жопа', 2, 2, 2, 4, 0.0, 6547, 6, 7)
('broedstoof', 'de', 'incubator', None, None, 'инкубатор', 2, 3, 7, 4, 60.0, 7258, 5, 7)
('schaamte', 'noun, de(f)', 'shame', 'Ik kon wel in de grond kruipen van schaamte.', 'I could crawl into the ground in shame.', 'стыд', 2, 2, 6, 4, 50.0, 1466, 1, 3)
('tekenen', 'verb', 'to draw', 'Het kind tekende een huis en kleurde het daarna in.', 'The child drew a house and then colored it in.', 'рисовать', 6, 8, 6, 12, 15.0, 680, 6, 7)
('flikken', None, 'to get away with', None, None, 'чтобы сойти с рук', 5, 8, 6, 10, 29.0, 5270, 7, 8)
('drama', 'noun, het', 'drama', 'Ik kan er een drama van maken, maar het is gewoon gebeurd.', 'I can make a drama out of it, but it just happened.', 'драма', 2, 2, 2, 4, 0.0, 2440, 0, 1)
('wrat', 'de', 'wart', None, None, 'бородаться', 2, 2, 2, 4, 0.0, 6551, 0, 1)
('dringen', 'verb', 'to push', 'De honden stonden kwijlend om hun gevulde bakken te dringen. <b>de tijd dringt</b>: Ik ga me haasten, de tijd dringt.', "The dogs were drooling for their filled bins. <b>time is running out</b>: I'm going to hurry, time is running out.", 'толкать', 2, 4, 6, 4, 60.0, 992, 6, 8)
('opleiden', 'verb', 'to train', 'Samen met haar oudere zus was ze opgeleid als professionele zangeres.', 'Along with her older sister, she had trained as a professional singer.', 'тренировать', 2, 2, 2, 4, 0.0, 4206, 4, 5)
('drang', 'noun, de(m)', 'urge', 'Zij voelde de drang om weg te lopen.', 'She felt the urge to walk away.', 'побуждать', 4, 13, 6, 8, 58.0, 4997, 1, 3)
('schrift', 'noun, het', 'writing', 'a) Snel gleden haar ogen over het regelmatige schrift. b) Die avond sloeg hij het schrift open en schreef er zijn naam en de datum in.', 'a) Quickly her eyes slid over the regular notebook. b) That evening he flipped open the notebook and wrote his name and the date in it.', 'написание, записная книжка', 3, 3, 5, 6, 25.0, 1779, 3, 4)
('concentratie', 'noun, de(f)', 'concentration', 'Golf is een sport die veel concentratie vergt.', 'Golf is a sport that requires a lot of concentration.', 'концентрация', 2, 2, 5, 4, 43.0, 4452, 5, 7)
('bevriezen', 'verb', 'to freeze', 'Vlees kan perfect bevroren worden.', 'Meat can be frozen perfectly.', 'чтобы заморозить', 2, 2, 2, 4, 0.0, 4776, 4, 5)
('totdat', 'conj', 'until', 'Hij blies de ballon op, totdat hij knalde.', 'He blew up the balloon until it popped.', 'до тех пор', 2, 3, 2, 4, 20.0, 3885, 4, 5)
('op slag', None, 'instantly', None, None, 'немедленно', 2, 3, 2, 4, 20.0, 6473, 5, 6)
('algemeen', 'adj', 'general', 'Achter dit algemene beeld gaan toch enkele verschillen schuil.', 'Yet behind this general picture are some differences.', 'генеральный', 3, 5, 8, 6, 54.0, 450, 4, 6)
('verkondigen', 'verb', 'to proclaim', 'Zij verkondigt graag haar mening.', 'She likes to proclaim her opinion.', 'провозглашать, выдвигать', 3, 4, 5, 6, 34.0, 4491, 8, 9)
('brij', 'de', 'porridge', None, None, 'каша', 2, 4, 3, 4, 43.0, 6873, 3, 5)
('drukte', 'noun, de(f)', 'bustle', 'In de drukte durf ik met anderen erbij haar niet te zoenen.', "In the crowds, with others around, I don't dare kiss her.", 'суета, шум', 2, 6, 3, 4, 56.0, 1061, 1, 3)
('terugtrekken', 'verb', 'to withdraw', 'Zij trekt haar hand terug. <b>zich terugtrekken</b>: Mijn vader heeft zich inmiddels uit het bedrijf teruggetrokken.', 'She withdraws her hand. <b>to retreat</b>: My father has now withdrawn from the company.', 'чтобы уйти', 2, 2, 4, 4, 34.0, 4232, 8, 9)
('gunnen', 'verb', 'to grant', 'Ik gun hem zijn geluk.', 'I begrudge him his happiness.', 'наградить', 2, 4, 4, 4, 50.0, 3837, 4, 6)
('isoleren', 'verb', 'to isolate', 'Ze isoleerden het huis en bezuinigden op de stookkosten. <b>iemand isoleren van</b>: Ze isoleerden hem van zijn vrienden.', 'They insulated the house and cut down on heating costs. <b>isolate someone from</b>: They isolated him from his friends.', 'изолировать', 4, 4, 7, 8, 28.0, 4879, 4, 5)

25

In [419]:
def get_lesson_words(lesson_number):
    # Соединение с базой данных SQLite3
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()

    # Выполнение запроса SELECT для получения уникальных значений из столбца
    cursor.execute(f"SELECT r, list_of_words FROM lessons WHERE r = {lesson_number}")
    results = cursor.fetchall()[0]

    # Создание списка для хранения результирующих строк
    result_list = []

    # Разбивка значений и выполнение запросов для каждого числа
    r, list_of_words = results
    number_list = list_of_words.split(';')
    for number in number_list:
        word_index = int(number)
        cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
        word_result = cursor2.fetchone()
        if word_result is not None:
            result_list.append(word_result)

    # Закрытие соединения с базой данных
    conn.close()
    conn2.close()
    
    return result_list

In [420]:
get_lesson_words(1)

[('krapte',
  'de',
  'shortage',
  None,
  None,
  'нехватка',
  3,
  3,
  7,
  6,
  40.0,
  6272,
  2,
  4),
 ('argument',
  'noun, het',
  'argument',
  'Haar argumenten zijn ongeloofwaardig.',
  'Her arguments are implausible.',
  'аргумент',
  2,
  2,
  2,
  4,
  0.0,
  3457,
  2,
  3),
 ('jouw',
  'pron',
  'your',
  'Jouw paraplu ligt nog hier.',
  'Your umbrella is still here.',
  'твой',
  3,
  4,
  3,
  6,
  15.0,
  2993,
  1,
  2),
 ('achterwerk', 'het', 'ass', None, None, 'жопа', 2, 2, 2, 4, 0.0, 6547, 6, 7),
 ('broedstoof',
  'de',
  'incubator',
  None,
  None,
  'инкубатор',
  2,
  3,
  7,
  4,
  60.0,
  7258,
  5,
  7),
 ('schaamte',
  'noun, de(f)',
  'shame',
  'Ik kon wel in de grond kruipen van schaamte.',
  'I could crawl into the ground in shame.',
  'стыд',
  2,
  2,
  6,
  4,
  50.0,
  1466,
  1,
  3),
 ('tekenen',
  'verb',
  'to draw',
  'Het kind tekende een huis en kleurde het daarna in.',
  'The child drew a house and then colored it in.',
  'рисовать',
  6,
  8,
  6,
  12,
  15.0,
  680,
  6,
  7),
 ('flikken',
  None,
  'to get away with',
  None,
  None,
  'чтобы сойти с рук',
  5,
  8,
  6,
  10,
  29.0,
  5270,
  7,
  8),
 ('drama',
  'noun, het',
  'drama',
  'Ik kan er een drama van maken, maar het is gewoon gebeurd.',
  'I can make a drama out of it, but it just happened.',
  'драма',
  2,
  2,
  2,
  4,
  0.0,
  2440,
  0,
  1),
 ('wrat', 'de', 'wart', None, None, 'бородаться', 2, 2, 2, 4, 0.0, 6551, 0, 1),
 ('dringen',
  'verb',
  'to push',
  'De honden stonden kwijlend om hun gevulde bakken te dringen. <b>de tijd dringt</b>: Ik ga me haasten, de tijd dringt.',
  "The dogs were drooling for their filled bins. <b>time is running out</b>: I'm going to hurry, time is running out.",
  'толкать',
  2,
  4,
  6,
  4,
  60.0,
  992,
  6,
  8),
 ('opleiden',
  'verb',
  'to train',
  'Samen met haar oudere zus was ze opgeleid als professionele zangeres.',
  'Along with her older sister, she had trained as a professional singer.',
  'тренировать',
  2,
  2,
  2,
  4,
  0.0,
  4206,
  4,
  5),
 ('drang',
  'noun, de(m)',
  'urge',
  'Zij voelde de drang om weg te lopen.',
  'She felt the urge to walk away.',
  'побуждать',
  4,
  13,
  6,
  8,
  58.0,
  4997,
  1,
  3),
 ('schrift',
  'noun, het',
  'writing',
  'a) Snel gleden haar ogen over het regelmatige schrift. b) Die avond sloeg hij het schrift open en schreef er zijn naam en de datum in.',
  'a) Quickly her eyes slid over the regular notebook. b) That evening he flipped open the notebook and wrote his name and the date in it.',
  'написание, записная книжка',
  3,
  3,
  5,
  6,
  25.0,
  1779,
  3,
  4),
 ('concentratie',
  'noun, de(f)',
  'concentration',
  'Golf is een sport die veel concentratie vergt.',
  'Golf is a sport that requires a lot of concentration.',
  'концентрация',
  2,
  2,
  5,
  4,
  43.0,
  4452,
  5,
  7),
 ('bevriezen',
  'verb',
  'to freeze',
  'Vlees kan perfect bevroren worden.',
  'Meat can be frozen perfectly.',
  'чтобы заморозить',
  2,
  2,
  2,
  4,
  0.0,
  4776,
  4,
  5),
 ('totdat',
  'conj',
  'until',
  'Hij blies de ballon op, totdat hij knalde.',
  'He blew up the balloon until it popped.',
  'до тех пор',
  2,
  3,
  2,
  4,
  20.0,
  3885,
  4,
  5),
 ('op slag',
  None,
  'instantly',
  None,
  None,
  'немедленно',
  2,
  3,
  2,
  4,
  20.0,
  6473,
  5,
  6),
 ('algemeen',
  'adj',
  'general',
  'Achter dit algemene beeld gaan toch enkele verschillen schuil.',
  'Yet behind this general picture are some differences.',
  'генеральный',
  3,
  5,
  8,
  6,
  54.0,
  450,
  4,
  6),
 ('verkondigen',
  'verb',
  'to proclaim',
  'Zij verkondigt graag haar mening.',
  'She likes to proclaim her opinion.',
  'провозглашать, выдвигать',
  3,
  4,
  5,
  6,
  34.0,
  4491,
  8,
  9),
 ('brij', 'de', 'porridge', None, None, 'каша', 2, 4, 3, 4, 43.0, 6873, 3, 5),
 ('drukte',
  'noun, de(f)',
  'bustle',
  'In de drukte durf ik met anderen erbij haar niet te zoenen.',
  "In the crowds, with others around, I don't dare kiss her.",
  'суета, шум',
  2,
  6,
  3,
  4,
  56.0,
  1061,
  1,
  3),
 ('terugtrekken',
  'verb',
  'to withdraw',
  'Zij trekt haar hand terug. <b>zich terugtrekken</b>: Mijn vader heeft zich inmiddels uit het bedrijf teruggetrokken.',
  'She withdraws her hand. <b>to retreat</b>: My father has now withdrawn from the company.',
  'чтобы уйти',
  2,
  2,
  4,
  4,
  34.0,
  4232,
  8,
  9),
 ('gunnen',
  'verb',
  'to grant',
  'Ik gun hem zijn geluk.',
  'I begrudge him his happiness.',
  'наградить',
  2,
  4,
  4,
  4,
  50.0,
  3837,
  4,
  6),
 ('isoleren',
  'verb',
  'to isolate',
  'Ze isoleerden het huis en bezuinigden op de stookkosten. <b>iemand isoleren van</b>: Ze isoleerden hem van zijn vrienden.',
  'They insulated the house and cut down on heating costs. <b>isolate someone from</b>: They isolated him from his friends.',
  'изолировать',
  4,
  4,
  7,
  8,
  28.0,
  4879,
  4,
  5)]

In [418]:
# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("SELECT DISTINCT r FROM lessons")
results = cursor.fetchall()

unique_values = []

# Вывод уникальных значений в консоль
for row in results:
    unique_values.append(row[0])

unique_values.remove(999)

# Закрытие соединения с базой данных
conn.close()

for l in unique_values:
    result_list = check_all_data(l)
    if len(result_list) != 25:
        print(result_list)