In [45]:
import pandas as pd
import sqlite3
from Levenshtein import distance
from fuzzywuzzy import fuzz
import random

In [56]:
# connect to the SQLite database and read the data into a pandas dataframe
conn = sqlite3.connect('data_files/lessons.db')
df = pd.read_sql('SELECT * FROM lessons', conn)

# close the database connection
conn.close()

In [60]:
firsts = df[df['known'] != 25]
firsts = firsts.loc[:, ['points', 'time', 'r', 'level']]

In [62]:
easy = firsts[firsts['level'] == 'easy'].sort_values('points')
standard = firsts[firsts['level'] == 'standard'].sort_values('points')
hard = firsts[firsts['level'] == 'hard'].sort_values('points')
veryhard = firsts[firsts['level'] == 'very hard'].sort_values('points')

In [63]:
writer = pd.ExcelWriter('data_files/easy.xlsx')
easy.to_excel(writer, sheet_name='easy')
standard.to_excel(writer, sheet_name='standard')
hard.to_excel(writer, sheet_name='hard')
veryhard.to_excel(writer, sheet_name='veryhard')
writer.close()

In [52]:
df

,word,type,translation,example,example_translation,russian,appear,trial_d,trial_r,success,weight,word_index,difficulty,wd
0,de,art,the,De meisjes komen op de man en de vrouw afhollen.,The girls come running at the man and the woman.,а,1,1,1,2,0.0,1,2,3
1,en,conj,and,Mijn vader en moeder gaan uit eten in het rest...,My mom and dad go out to dinner at the restaur...,и,1,1,1,2,0.0,2,2,3
2,in,prep,in,Het was koud in de slaapkamer.,It was cold in the bedroom.,в,1,1,1,2,0.0,3,0,1
3,van,prep,of,Zijn ogen zijn sluw als die van een roofdier.,His eyes are sly like those of a predator.,из,0,0,0,0,100.0,4,4,7
4,op,prep,on,Ze ziet hem op het terras zitten.,She sees him sitting on the terrace.,на,0,0,0,0,100.0,5,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8568,zich zorgen maken over,None,to worry about,None,None,беспокоиться о,2,3,4,4,43.0,8569,7,9
8569,verknallen,verb,to screw up,None,None,испортить,0,0,0,0,100.0,8570,8,11
8570,op een bepaald moment,None,at a certain moment,None,None,в определенный момент,2,2,5,4,43.0,8571,6,8
8571,op een gegeven moment,None,at a certain moment,None,None,в определенный момент,0,0,0,0,100.0,8572,6,9
8572,op een bepaalde plek,None,at an undefined location,None,None,где-то,0,0,0,0,100.0,8573,7,10

In [ ]:
df = df.drop(columns=['difficulty', 'wd'])

In [372]:
columns = list(df.columns)

df['Length_word'] = df['word'].str.len()
df['translation'] = df['translation'].str.split(',').str[0]
df['Length_translation'] = df['translation'].str.len()
# Calculate Levenshtein Distance between word and translation
df['Similarity'] = df.apply(lambda row: fuzz.ratio(row['word'], row['translation']), axis=1)
    
# dividing into quantiles
df['d1'] = pd.qcut(df['Length_word'], q=4, labels=[0, 1, 2, 3])
df['d1'] = df['d1'].astype(int)
df['d2'] = pd.qcut(df['Length_translation'], q=3, labels=[0, 1, 2])
df['d2'] = df['d2'].astype(int)
df['d3'] = pd.qcut(df['Similarity'], q=5, labels=[4, 3, 2, 1, 0])
df['d3'] = df['d3'].astype(int)
df['d4'] = pd.cut(df['weight'], bins=3, labels=[1, 2, 3])
df['d4'] = df['d4'].astype(int)

df['difficulty'] = df['d1'] + df['d2'] + df['d3']
df['wd'] = df['d1'] + df['d2'] + df['d3'] + df['d4']

columns = columns + ['difficulty', 'wd']

df = df.loc[:, columns]

In [373]:
df['wd'].unique()

array([ 5,  6,  4,  2,  7,  8,  3,  9, 10, 11])

In [374]:
def xlstosql(df):
    df_name = df.name
    # connect to the SQLite database
    conn = sqlite3.connect(f'data_files/spanish/{df_name}.db')
    # insert the data from the dataframe into the database table
    df.to_sql(f'{df_name}', conn, if_exists='replace', index=False)
    # close the database connection
    conn.close()

In [375]:
df.name = 'words'
xlstosql(df)

In [213]:
dif_df = df.loc[:, ['word_index', 'difficulty']]

In [366]:
conn = sqlite3.connect('data_files/spanish/words.db')
cursor = conn.cursor()

cursor.execute("ALTER TABLE words ADD COLUMN word_index INTEGER")

cursor.execute("SELECT rowid FROM words")
rows = cursor.fetchall()

for i, row in enumerate(rows, start=1):
    cursor.execute("UPDATE words SET word_index = ? WHERE rowid = ?", (i, row[0]))
conn.commit()

# Сохранение изменений и закрытие соединения
conn.close()

In [237]:
def difficulty(df, level='standard'):
    
    columns = list(df.columns)
    
    df['Length_word'] = df['word'].str.len()
    df['translation'] = df['translation'].str.split(',').str[0]
    df['Length_translation'] = df['translation'].str.len()
    # Calculate Levenshtein Distance between word and translation
    df['Similarity'] = df.apply(lambda row: fuzz.ratio(row['word'], row['translation']), axis=1)
    
    # dividing into quantiles
    df['d1'] = pd.qcut(df['Length_word'], q=4, labels=[0, 1, 2, 3])
    df['d1'] = df['d1'].astype(int)
    df['d2'] = pd.qcut(df['Length_translation'], q=3, labels=[0, 1, 2])
    df['d2'] = df['d2'].astype(int)
    df['d3'] = pd.qcut(df['Similarity'], q=5, labels=[4, 3, 2, 1, 0])
    df['d3'] = df['d3'].astype(int)
    df['d4'] = pd.qcut(df['weight'], bins=3, labels=[1, 2, 3], duplicates='drop')
    df['d4'] = df['d4'].astype(int)
    
    df['difficulty'] = df['d1'] + df['d2'] + df['d3'] + df['d4']
    
    
    
    df = df.loc[:, columns]
    return df

In [198]:
# Calculate word lengths and divide into three bins
#df['Difficulty'] = pd.cut(df['Length'], bins=3, labels=['Easy', 'Medium', 'Hard'])

In [228]:
test_list = []

for i in range(0,101):
    test_list.append(i)

In [229]:
tt=pd.DataFrame()
tt['count'] = test_list

In [230]:
tt['dif'] = pd.cut(test_list, bins=3, labels=['Easy', 'Medium', 'Hard'])

In [266]:
writer = pd.ExcelWriter('data_files/tdddt.xlsx')
df.to_excel(writer, sheet_name='update')
writer.close()

In [381]:
conn2 = sqlite3.connect('data_files/lessons.db')
lesson = pd.read_sql('SELECT * FROM lessons', conn2)
conn2.close()

In [382]:
lesson.columns

Index(['lesson', 'start', 'inter', 'finish', 'known', 'points', 'length',
       'time', 'list_of_words', 'r', 'new_col'],
      dtype='object')

In [139]:
lesson_df = lesson[lesson['known'] != 25]
lesson_df = lesson_df.loc[:, ['r', 'list_of_words', 'points']]

In [140]:
# Create a sample difficulty DataFrame
difficulty_df = df.loc[:,['word', 'difficulty']]

# Split 'list of words' column and retrieve difficulties
lesson_df['words'] = lesson_df['list_of_words'].str.split(';')
lesson_df['words'] = lesson_df['words'].apply(lambda x: [word.strip() for word in x])
lesson_df['dif'] = lesson_df['words'].apply(lambda x: sum(difficulty_df[difficulty_df['word'].isin(x)]['difficulty']))

In [141]:
# Remove the intermediate 'words' column
lesson_df.drop('words', axis=1, inplace=True)

In [142]:
writer = pd.ExcelWriter('data_files/test_check.xlsx')
lesson_df.to_excel(writer, sheet_name='update')
writer.close()

In [143]:
# Add a unique key column based on index
df['key'] = df.index

# Define the desired distribution of words by difficulty
difficulty_distribution_easy = {1: 4, 2: 4, 3: 4, 4: 4, 5: 4, 6:2, 7:1, 8:1 , 9:1, 10:0}
difficulty_distribution = {1: 2, 2: 2, 3: 3, 4: 3, 5: 3, 6: 3, 7:3, 8:2 ,9:2, 10:2 }
difficulty_distribution_hard = {1: 0, 2: 1, 3: 1, 4: 1, 5: 2, 6: 4, 7:4, 8:4 ,9:4, 10:4 }
difficulty_distribution_hardest = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 5, 7:5, 8:5 ,9:5, 10:5 }

# Sample words from each difficulty level based on difficulty and weight
selected_words = []
for difficulty, count in difficulty_distribution.items():
    words_subset = df[(df['wb'] == difficulty)]
    words_subset = words_subset.sample(n=count, weights=words_subset['weight'])
    selected_words.append(words_subset)
    
# Concatenate the selected words into a new DataFrame
new_words_df = pd.concat(selected_words)

writer = pd.ExcelWriter('data_files/new.xlsx')
new_words_df.to_excel(writer, sheet_name='update')
writer.close()

In [122]:
# Reset the index of the new DataFrame
new_words_df.reset_index(drop=True, inplace=True)

# Update the parameters of the selected words
new_words_df['weight'] = new_words_df['weight'] * 2  # Update the weight parameter as an example

# Merge the updated words with the original DataFrame based on the key column
df = pd.merge(df, new_words_df, on='key', how='left')

# Fill missing values in the original DataFrame with the updated values
df['difficulty_y'].fillna(df['difficulty_x'], inplace=True)
df['weight_y'].fillna(df['weight_x'], inplace=True)

# Drop redundant columns from the merged DataFrame
df.drop(['difficulty_x', 'weight_x', 'key'], axis=1, inplace=True)
df.rename(columns={'difficulty_y': 'difficulty', 'weight_y': 'weight'}, inplace=True)

writer = pd.ExcelWriter('data_files/final.xlsx')
df.to_excel(writer, sheet_name='update')
writer.close()

In [ ]:
', '.join(list(df.columns))

In [ ]:
difficulty_distribution = {1: 1, 2: 1, 3: 2, 4: 2, 5: 3, 6: 3, 7: 3, 8: 3, 9: 3, 10: 2, 11: 1, 12: 1}

def sql_text(dffty, limit):
    text = f"""
    SELECT word, type, translation, russian, example, example_translation, appear, trial_d, trial_r, success, weight, word_index, difficulty, wd
    FROM words
    WHERE wd = {dffty}
    ORDER BY weight DESC, RANDOM()
    LIMIT {limit};
    """
    return text

def loadData(source, final='no'):
    # connect to the SQLite database and read the data into a pandas dataframe
    conn = sqlite3.connect('data_files/words.db')
    
    
    if source == 'word' and final == 'no':
        cursor = conn.cursor()
        # Sample words from each difficulty level based on difficulty and weight
        selected_words = []
        for difficulty, count in difficulty_distribution.items():
            # Retrieve 5 easy words
            words_query = sql_text(difficulty, count)
            cursor.execute(words_query)
            selected_words = selected_words + cursor.fetchall()
        return selected_words
    else:
        df = pd.read_sql(f'SELECT * FROM {source}s', conn)
        df = df.loc[:, f'{source}':]
        
    # close the database connection
    conn.close()
    

combined_data = loadData('word')

    
class Words(object):

    """The class for all words from dictionary. Each word a type, a translation, an example,
    a translation of an example, a translation to Russian, also additional parameters which would be created after
    the first run (quantity of appearances in lessons, trials of direct and indirect translation,
    success attempts, also weight, more weight - more often words appear"""

    def __init__(self, word, typ, translation, russian, example, example_translation, appear, trial_d, trial_r, success,
                 weight, word_index, difficulty, wd):
        self.word = word
        self.typ = typ
        self.translation = translation
        self.example = example
        self.example_translation = example_translation
        self.russian = russian
        self.appear = appear
        self.trial_d = trial_d
        self.trial_r = trial_r
        self.success = success
        self.weight = weight
        self.word_index = word_index
        self.difficulty = difficulty
        self.wd = wd


# Create Word objects from the combined data
word_objects = []
for row in combined_data:
    word = Words(*row)
    word_objects.append(word)

# Print the created Word objects
for word in word_objects:
    print(f"Word: {word.word}, Translation: {word.translation}, Weight: {word.weight}, Difficulty: {word.wd}")

In [ ]:
def sql_text(dffty, limit):
    text = f"""
    SELECT word, type, translation, russian, example, example_translation, appear, trial_d, trial_r, success, weight, word_index, difficulty, wd
    FROM words
    WHERE wd = {dffty}
    ORDER BY weight DESC, RANDOM()
    LIMIT {limit};
    """
    return text


# connect to the SQLite database and read the data into a pandas dataframe
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

# Retrieve 5 easy words
easy_words_query = sql_text(2, 15)
cursor.execute(easy_words_query)
easy_words = cursor.fetchall()

# Retrieve 5 standard words
standard_words_query = sql_text(6, 20)
cursor.execute(standard_words_query)
standard_words = cursor.fetchall()

# Retrieve 5 hard words
hard_words_query = sql_text(10, 5)
cursor.execute(hard_words_query)
hard_words = cursor.fetchall()

# Close the database connection
conn.close()

# Print the retrieved words

print("\nEasy Words:")
for row in easy_words:
    print(row)

print("\nStandard Words:")
for row in standard_words:
    print(row)

print("\nHard Words:")
for row in hard_words:
    print(row)

In [292]:

text = """
    SELECT weight, word_index, wd
    FROM words
    """

# connect to the SQLite database and read the data into a pandas dataframe
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

# Retrieve 5 easy words
easy_words_query = text
cursor.execute(easy_words_query)
easy_words = cursor.fetchall()

# Close the database connection
conn.close()

In [295]:
easy_words[1]

(0.0, 2, 3)

In [306]:
conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

v1 = 100
v2 = 100
v3 = 100
v4 = 100
v5 = 100

cursor.execute("UPDATE words SET appear = ?, trial_d = ?, trial_r = ?, success = ?, wd = ?  WHERE word_index = ?",
            (v1, v2, v3, v4, v5, 1))

    # Commit the changes and close the connection
conn.commit()
conn.close()

In [311]:
text = """

UPDATE words
SET weight = 
             CASE
                WHEN trial_d = 0 AND trial_r = 0 THEN ROUND(100, 2)
                ELSE ROUND((100 - (success / (trial_d + trial_r)) * 100), 2)
             END;
"""

conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

cursor.execute(text)
conn.commit()
conn.close()

In [329]:
text = """

UPDATE words
SET weight = 
    CASE
        WHEN trial_d = 0 AND trial_r = 0 THEN ROUND(100, 2)
        ELSE ROUND((100 - success * 100 /(trial_d + trial_r)), 2)
    END;
"""

conn = sqlite3.connect('data_files/words.db')
cursor = conn.cursor()

cursor.execute(text)
conn.commit()
conn.close()

In [332]:
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

cursor.execute("SELECT lesson FROM lessons WHERE lesson IS NOT NULL ORDER BY lesson DESC LIMIT 1")
last_lesson = cursor.fetchone()[0]
l1 = last_lesson + 1
l2 = 0
l3 = 0
l4 = 0
l5 = 0
l6 = 0
l7 = 0
l8 = 0
l9 = 0
l10 = 0
    
cols = 'lesson, start, inter, finish, known, points, length, time, list_of_words, r'

cursor.execute(f"INSERT INTO lessons ({cols}) VALUES (?,?,?,?,?,?,?,?,?,?)", (l1,l2,l3,l4,l5,l6,l7,l8,l9,l10))

conn.commit()
conn.close()

In [7]:
# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("SELECT DISTINCT r, list_of_words FROM lessons")
results = cursor.fetchall()

list_of_lessons = []
list_of_word_indexes = {}

# Вывод уникальных значений в консоль
for row in results:
    if row[0] != 999:
        list_of_lessons.append(row[0])
        list_of_word_indexes[row[0]] = row[1]

print(max(list_of_lessons) + 1)
print(list_of_word_indexes)

# Закрытие соединения с базой данных
conn.close()

209

In [8]:
def topbottom(top=1):
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    # Prepare the basic SQL query
    sql = "SELECT r AS Lesson, time AS Time, points AS Pts FROM lessons"

    # Add conditions to the SQL query based on the top parameter
    if top != 'overall':
        sql += " WHERE known != 25"
    if top == 0:
        sql += " ORDER BY Pts ASC, Time DESC"
    elif top == 'all' or top == 'overall':
        pass
    else:
        sql += " ORDER BY Pts DESC, Time ASC LIMIT 10"

    # Execute the SQL query
    cursor.execute(sql)

    # Fetch all the rows
    data = cursor.fetchall()

    # Close the connection
    conn.close()

    # Convert the data into the required format
    data = [('Lesson ' + str(lesson), time, pts) for lesson, time, pts in data]

    return data

In [11]:
data = topbottom()
print(data)

[('Lesson 202', 356, 1557), ('Lesson 207', 367, 1551), ('Lesson 171', 431, 1550), ('Lesson 164', 453, 1538), ('Lesson 182', 456, 1531), ('Lesson 112', 446, 1527), ('Lesson 108', 465, 1514), ('Lesson 60', 488, 1505), ('Lesson 205', 434, 1497), ('Lesson 93', 488, 1497)]

In [13]:
def bottom_not_repeated():
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()

    # Prepare the SQL query
    sql = """
    SELECT r AS Lesson, time AS Time, points AS Points
    FROM (
        SELECT r, time, points
        FROM (
            SELECT r, time, points, 
            ROW_NUMBER() OVER(PARTITION BY r ORDER BY points DESC) rn
            FROM lessons
        )
        WHERE rn = 1
        ORDER BY points ASC
        LIMIT 10
    )
    """

    # Execute the SQL query
    cursor.execute(sql)
    
    # Fetch all the rows
    data = cursor.fetchall()

    # Close the connection
    conn.close()

    # Convert the data into the required format
    data = [('Lesson ' + str(lesson), time, pts) for lesson, time, pts in data]

    return data

data = bottom_not_repeated()
print(data)

[('Lesson 199', 1097, 739), ('Lesson 173', 1005, 910), ('Lesson 166', 960, 957), ('Lesson 195', 882, 1015), ('Lesson 80', 912, 1022), ('Lesson 45', 907, 1037), ('Lesson 38', 886, 1045), ('Lesson 174', 864, 1060), ('Lesson 152', 853, 1066), ('Lesson 24', 855, 1080)]

In [44]:
def place(t=0, cond=0):
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()

    # Get the known value of the last row
    cursor.execute("SELECT known FROM lessons ORDER BY rowid DESC LIMIT 1")
    rep = cursor.fetchone()[0]

    # Prepare the base SQL query
    if rep != 25:
        sql = "SELECT * FROM lessons WHERE known != 25"
    else:
        sql = "SELECT * FROM lessons WHERE known == 25"

    # Execute the SQL query
    cursor.execute(sql)

    # Fetch all the rows
    data = cursor.fetchall()
    
    last_lesson = data[-1][-2]


    # Sort the data by points in descending order and enumerate to assign places
    data.sort(key=lambda row: row[5], reverse=True)
    data = [(index + 1, row[9], row[7], row[5]) for index, row in enumerate(data)]
    

    # Find the place of the last row
    last_row = next((row for row in data if row[1] == last_lesson), None)
    last_place = last_row[0]

    # Get the best lessons and ensure the last lesson is included if not already in the top 10
    best_lessons = data[:10]
    if last_place > 10:
        best_lessons.append(last_row)

    # Format the data for output
    best_lessons = [('Lesson ' + str(row[1]), row[2], row[3], row[0]) for row in best_lessons]
    columns_names = ['Lesson', 'Time', 'Points', 'Place']

    # Close the connection
    conn.close()

    return best_lessons, columns_names


best = place()
for i in best:
    print(i)

(88, 208, 618, 1279)
88
('Lesson 202', 356, 1557, 1)
('Lesson 207', 367, 1551, 2)
('Lesson 171', 431, 1550, 3)
('Lesson 164', 453, 1538, 4)
('Lesson 182', 456, 1531, 5)
('Lesson 112', 446, 1527, 6)
('Lesson 108', 465, 1514, 7)
('Lesson 60', 488, 1505, 8)
('Lesson 93', 488, 1497, 9)
('Lesson 205', 434, 1497, 10)
('Lesson 208', 618, 1279, 88)

In [ ]:
conn1 = sqlite3.connect('data_files/words.db')
cursor1 = conn1.cursor()

cursor1.execute('SELECT word_index, word FROM words')
results = cursor1.fetchall()

conn1.close()


# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("SELECT list_of_words FROM lessons")
lessons_x = cursor.fetchall()


conn.close()


for k, les in enumerate(lessons_x):
    for row in les:
        lesson_words = row.split(";")
        for i, cw in enumerate(lesson_words):
            lesson_words[i] = cw.strip()

            for res in results:
                if res[1] == lesson_words[i]:
                    lesson_words[i] = res[0]
    lessons_x[k] = lesson_words

In [390]:

# Connection to the 'words.db' database
conn1 = sqlite3.connect('data_files/words.db')
cursor1 = conn1.cursor()

cursor1.execute('SELECT word_index, word FROM words')
results = cursor1.fetchall()

conn1.close()

# Connection to the 'lessons.db' database
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Retrieve the list_of_words values from the 'lessons' table
cursor.execute("SELECT list_of_words FROM lessons")
lessons_x = cursor.fetchall()

# Process and update the values
for k, les in enumerate(lessons_x):
    for row in les:
        lesson_words = row.split(";")
        for i, cw in enumerate(lesson_words):
            lesson_words[i] = cw.strip()

            for res in results:
                if res[1] == lesson_words[i]:
                    lesson_words[i] = res[0]
        lesson_words = [str(word) for word in lesson_words if word]

    lessons_x[k] = ';'.join(lesson_words)

    # Update the 'list_of_words' column with the new value
    update_query = "UPDATE lessons SET list_of_words = ? WHERE rowid = ?"
    cursor.execute(update_query, (lessons_x[k], k + 1))
    conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

In [ ]:
# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

#cursor.execute("ALTER TABLE lessons ADD COLUMN new_col TEXT;")

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("UPDATE lessons SET ind = clmn;")


conn.close()

In [ ]:
conn1 = sqlite3.connect('data_files/words.db')
cursor1 = conn1.cursor()

cursor1.execute('SELECT word_index, word FROM words')
results = cursor1.fetchall()

conn1.close()

In [468]:

# Connect to the database
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Create a new table without the 'word' column
create_query = "CREATE TABLE new_table_name (lesson INTEGER, start TIMESTAMP, inter TIMESTAMP, finish TIMESTAMP, known INTEGER, points INTEGER, length INTEGER,time INTEGER, list_of_words TEXT, r INTEGER)"  
    

cursor.execute(create_query)

# Copy data from the old table to the new table
copy_query = "INSERT INTO new_table_name (lesson , start , inter , finish , known , points , length ,time , list_of_words , r ) SELECT lesson , start , inter , finish , known , points , length ,time , list_of_words , r  FROM lessons"
cursor.execute(copy_query)

# Drop the old table
drop_query = "DROP TABLE lessons"
cursor.execute(drop_query)

# Rename the new table to the original table name
rename_query = "ALTER TABLE new_table_name RENAME TO lessons"
cursor.execute(rename_query)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [ ]:


# Connect to the database
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Define the table name
table_name = 'lessons'

# Retrieve column information from sqlite_master table
cursor.execute(f"PRAGMA table_info({table_name})")
columns = cursor.fetchall()

print(columns)

# Iterate over the columns and print the name and datatype
for column in columns:
    column_name = column[1]
    column_datatype = column[2]
    print(f"Column: {column_name} - Datatype: {column_datatype}")

# Close the connection
conn.close()

In [ ]:


# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("SELECT r, list_of_words FROM lessons WHERE r = 1")
results = cursor.fetchall()[0]

print(results)

# Создание списка для хранения результирующих строк
result_list = []

# Разбивка значений и выполнение запросов для каждого числа
r, list_of_words = results
number_list = list_of_words.split(';')
for number in number_list:
    word_index = int(number)
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()
    cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
    word_result = cursor2.fetchone()
    if word_result is not None:
        result_list.append(word_result)

# Вывод результатов
for row in result_list:
    print(row)

# Закрытие соединения с базой данных
conn.close()
conn2.close()

len(result_list)

In [419]:
def get_lesson_words(lesson_number):
    # Соединение с базой данных SQLite3
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()

    # Выполнение запроса SELECT для получения уникальных значений из столбца
    cursor.execute(f"SELECT r, list_of_words FROM lessons WHERE r = {lesson_number}")
    results = cursor.fetchall()[0]

    # Создание списка для хранения результирующих строк
    result_list = []

    # Разбивка значений и выполнение запросов для каждого числа
    r, list_of_words = results
    number_list = list_of_words.split(';')
    for number in number_list:
        word_index = int(number)
        cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
        word_result = cursor2.fetchone()
        if word_result is not None:
            result_list.append(word_result)

    # Закрытие соединения с базой данных
    conn.close()
    conn2.close()
    
    return result_list

In [418]:
# Соединение с базой данных SQLite3
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

# Выполнение запроса SELECT для получения уникальных значений из столбца
cursor.execute("SELECT DISTINCT r FROM lessons")
results = cursor.fetchall()

unique_values = []

# Вывод уникальных значений в консоль
for row in results:
    unique_values.append(row[0])

unique_values.remove(999)

# Закрытие соединения с базой данных
conn.close()

for l in unique_values:
    result_list = check_all_data(l)
    if len(result_list) != 25:
        print(result_list)

In [ ]:
def get_lesson_words(lesson_number):

    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    
    cursor.execute(f"SELECT list_of_words FROM lessons")
    results = cursor.fetchall()
    
    
    
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()

    
    

    # Создание списка для хранения результирующих строк
    result_list = []

    # Разбивка значений и выполнение запросов для каждого числа
    r, list_of_words = results
    number_list = list_of_words.split(';')
    for number in number_list:
        word_index = int(number)
        cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
        word_result = cursor2.fetchone()
        if word_result is not None:
            result_list.append(word_result)

    # Закрытие соединения с базой данных
    conn.close()
    conn2.close()
    
    return result_list

In [430]:
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()
cursor.execute(f"SELECT list_of_words FROM lessons")
results = cursor.fetchall()

In [432]:
full_list = []

for list_of_words in results:
    list_of_words = list_of_words[0]
    number_list = list_of_words.split(';')
    for number in number_list:
        number = int(number)
        full_list.append(number)       
full_list = list(set(full_list))

In [ ]:
def get_lesson_words(lesson_number):
    # Соединение с базой данных SQLite3
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()

    # Выполнение запроса SELECT для получения уникальных значений из столбца
    cursor.execute(f"SELECT r, list_of_words FROM lessons WHERE r = {lesson_number}")
    results = cursor.fetchall()[0]

    # Создание списка для хранения результирующих строк
    result_list = []

    # Разбивка значений и выполнение запросов для каждого числа
    r, list_of_words = results
    number_list = list_of_words.split(';')
    for number in number_list:
        word_index = int(number)
        cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
        word_result = cursor2.fetchone()
        if word_result is not None:
            result_list.append(word_result)

    # Закрытие соединения с базой данных
    conn.close()
    conn2.close()
    
    return result_list

In [438]:
get_lesson_words(1)[1][-2]

2

In [ ]:
def get_lesson_dif(lesson_number):

    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()
    cursor.execute(f"SELECT r, list_of_words FROM lessons WHERE r = {lesson_number}")
    results = cursor.fetchall()[0]
    total_dif = 0
    result_list = []

    r, list_of_words = results
    number_list = list_of_words.split(';')
    for number in number_list:
        word_index = int(number)
        cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
        word_result = cursor2.fetchone()
        if word_result is not None:
            result_list.append(word_result)

    # Закрытие соединения с базой данных
    conn.close()
    conn2.close()
    
    for word in result_list:
        print(word)
        total_dif = total_dif + word[-1]
        
    
    return total_dif

get_lesson_dif(8)

In [ ]:


def add_total_dif_column():
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()

    # Add the 'total_dif' column to the 'lessons' table
    cursor.execute("ALTER TABLE lessons ADD COLUMN level INTEGER")

    # Commit the changes to the database
    conn.commit()

    # Close the connection
    conn.close()

def get_lesson_dif(lesson_number):
    conn = sqlite3.connect('data_files/lessons.db')
    cursor = conn.cursor()
    conn2 = sqlite3.connect('data_files/words.db')
    cursor2 = conn2.cursor()
    cursor.execute(f"SELECT lesson, list_of_words FROM lessons WHERE lesson = {lesson_number}")
    results = cursor.fetchall()[0]
    total_dif = 0
    result_list = []

    r, list_of_words = results
    number_list = list_of_words.split(';')
    for number in number_list:
        word_index = int(number)
        cursor2.execute("SELECT * FROM words WHERE word_index = ?", (word_index,))
        word_result = cursor2.fetchone()
        if word_result is not None:
            result_list.append(word_result)

    for word in result_list:
        total_dif += word[-1]
    
    # Update the 'level' column in the 'lessons' table
    cursor.execute("UPDATE lessons SET level = ? WHERE lesson = ?", (total_dif, lesson_number))

    # Commit the changes to the database
    conn.commit()

    # Close the connections
    conn.close()
    conn2.close()
    
    return total_dif

# Call this function to add the 'total_dif' column to the 'lessons' table
add_total_dif_column()

for les in list_of_lessons:
    total_dif = get_lesson_dif(les)
    print(les, total_dif)

In [464]:
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()
cursor.execute(f"SELECT lesson FROM lessons")
results = cursor.fetchall()
conn.close()

In [465]:
list_of_lessons = []
for r in results:
    list_of_lessons.append(r[0])

In [ ]:
df['d4'] = pd.qcut(df['weight'], bins=3, labels=[1, 2, 3], duplicates='drop')

In [470]:
# connect to the SQLite database and read the data into a pandas dataframe
conn = sqlite3.connect('data_files/lessons.db')
df = pd.read_sql('SELECT * FROM lessons', conn)

# close the database connection
conn.close()

In [472]:
df['bins'] = pd.cut(df['level'], bins=4, labels=['easy', 'standard', 'hard', 'very hard'])

In [474]:
dictionary = dict(zip(df['level'], df['bins']))

In [476]:
conn = sqlite3.connect('data_files/lessons.db')
cursor = conn.cursor()

for key, value in dictionary.items():
    cursor.execute("UPDATE lessons SET level = ? WHERE level = ?", (value, key))

conn.commit()
conn.close()

In [478]:
writer = pd.ExcelWriter('data_files/df.xlsx')
df.to_excel(writer, sheet_name='update')
writer.close()