In [87]:
import pandas as pd
import sqlite3

conn2 = sqlite3.connect('data_files/lessons.db')
df = pd.read_sql('SELECT * FROM lessons', conn2)
conn2.close()

In [88]:
def place(df, t=0, cond=0):
    
    lesson = df.copy()
    rep = int(lesson.loc[:, "known"][-1:].values[0])
    print(rep)
    if rep != 25:
        mod_lesson = lesson[lesson.known != 25]
    else:
        mod_lesson = lesson[lesson.known == 25]

    if cond == 0:

        last = mod_lesson.loc[:, "r"][-1:].values[0]
        last_points = mod_lesson.loc[:, "points"][-1:].values[0]
        last_lesson = mod_lesson.tail(1)  # Extract the last row

        mod_lesson = mod_lesson.sort_values(by='points', ascending=False, ignore_index=True)
        place = mod_lesson[mod_lesson['points'] == last_points].index[0] + 1
        last_lesson['Place'] = place

        best_lessons = mod_lesson.head(10)
        best_lessons = best_lessons.reset_index()
        best_lessons = best_lessons.rename(columns={'index': 'Place'})
        best_lessons['Place'] = best_lessons['Place'] + 1

        if last not in best_lessons['r'].values:
            final_result = pd.concat([best_lessons, last_lesson], ignore_index=True)
        else:
            final_result = best_lessons

        final_result = final_result.loc[:, ['r', 'time', 'points', 'Place']]
        final_result = final_result.rename(columns={'r': 'Lesson', 'time': 'Time', 'points': 'Pts'})
        final_result['Place'] = final_result['Place'].astype(int)
        final_result['Lesson'] = final_result['Lesson'].astype(str)
        final_result['Lesson'] = 'Lesson ' + final_result['Lesson']

        return final_result

In [89]:
place(df)

25

        Lesson  Time   Pts  Place
0     Lesson 7   183  1817      1
1     Lesson 7   188  1757      2
2   Lesson 183   277  1664      3
3   Lesson 191   280  1657      4
4   Lesson 191   288  1648      5
5   Lesson 188   323  1604      6
6   Lesson 189   335  1591      7
7    Lesson 16   407  1577      8
8     Lesson 6   405  1576      9
9   Lesson 190   363  1571     10
10  Lesson 155   516  1393     36

In [ ]:
        Lesson  Time   Pts  Place
0     Lesson 7   183  1817      1
1     Lesson 7   188  1757      2
2   Lesson 183   277  1664      3
3   Lesson 191   280  1657      4
4   Lesson 191   288  1648      5
5   Lesson 188   323  1604      6
6   Lesson 189   335  1591      7
7    Lesson 16   407  1577      8
8     Lesson 6   405  1576      9
9   Lesson 190   363  1571     10
10  Lesson 192   374  1564     12

In [64]:
last

190

In [47]:
final_result

   Place      Lesson Time   Pts
0      1  Lesson 171  431  1550
1      2  Lesson 164  453  1538
2      3  Lesson 182  456  1531
3    171  Lesson 190  968   912

In [6]:
place

250

In [24]:
data = df.loc[:, 'lesson':]
data = data[data['known'] != 25]
data = data.loc[:,['r', 'time', 'points']]
data = data.rename(columns={'r':'Lesson', 'time':'Time', 'points':'Pts'})
data = data.sort_values(['Pts', 'Time'], ascending=[False, True])
data['Lesson'] = data['Lesson'].astype(str)
data['Lesson'] = 'Lesson ' +  data['Lesson']

In [27]:
list(data.columns)

['Lesson', 'Time', 'Pts']

In [1]:
from PyQt6.QtWidgets import QApplication, QWidget, QTextEdit, QVBoxLayout
from PyQt6.QtCore import Qt
import sys

class MyWidget(QWidget):
    def __init__(self):
        super().__init__()
        self.text_edit = QTextEdit(self)
        self.layout = QVBoxLayout(self)
        self.layout.addWidget(self.text_edit)
        self.setLayout(self.layout)
    
    def set_list(self, my_list):
        text = "\n".join(my_list)
        self.text_edit.setPlainText(text)


if __name__ == '__main__':
    app = QApplication(sys.argv)
    widget = MyWidget()
    my_list = ["Item 1", "Item 2", "Item 3"]
    widget.set_list(my_list)
    widget.show()
    sys.exit(app.exec())

SystemExit: 0

/Users/aleksejgukov/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3377: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)